자소서 써야 하는데 ... 한번 ols 복습 겸해서 제출해봤습니다

In [1]:
from set_math import *

sympy imported
pandas imported
numpy imported
scipy imported
statsmodels imported
statsmodels.formula imported
statasmodels.stats.api imported

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

# load and merge data

In [2]:
train = pd.read_csv("../data/basic/train.csv")
key = pd.read_csv("../data/basic/key.csv")
weather1 = pd.read_csv("../data/weather_v8_refer_prev_data.csv", index_col = 0)

In [3]:
df = pd.merge(train, key)

In [105]:
df1 = pd.merge(df, weather1)
print(df1.shape)
print(df1.columns)
df1.head()

(4523139, 25)
Index(['date', 'store_nbr', 'item_nbr', 'units', 'station_nbr', 'tmax', 'tmin',
       'tavg', 'depart', 'dewpoint', 'wetbulb', 'heat', 'cool', 'sunrise',
       'sunset', 'codesum', 'codsum_YN', 'snowfall', 'preciptotal',
       'stnpressure', 'sealevel', 'resultspeed', 'resultdir', 'avgspeed',
       'month'],
      dtype='object')

,date,store_nbr,item_nbr,units,station_nbr,tmax,tmin,tavg,depart,dewpoint,...,codesum,codsum_YN,snowfall,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed,month
0,2012-01-01,1,1,0,1,52.0,31.0,42.0,0.0,36.0,...,RA FZFG BR,abnormal,0.05,0.05,29.78,29.92,3.6,20.0,4.6,1.0
1,2012-01-01,1,2,0,1,52.0,31.0,42.0,0.0,36.0,...,RA FZFG BR,abnormal,0.05,0.05,29.78,29.92,3.6,20.0,4.6,1.0
2,2012-01-01,1,3,0,1,52.0,31.0,42.0,0.0,36.0,...,RA FZFG BR,abnormal,0.05,0.05,29.78,29.92,3.6,20.0,4.6,1.0
3,2012-01-01,1,4,0,1,52.0,31.0,42.0,0.0,36.0,...,RA FZFG BR,abnormal,0.05,0.05,29.78,29.92,3.6,20.0,4.6,1.0
4,2012-01-01,1,5,0,1,52.0,31.0,42.0,0.0,36.0,...,RA FZFG BR,abnormal,0.05,0.05,29.78,29.92,3.6,20.0,4.6,1.0

In [106]:
df1 = df1[df1["units"] > 0].reset_index(drop=True)
df1.tail()

,date,store_nbr,item_nbr,units,station_nbr,tmax,tmin,tavg,depart,dewpoint,...,codesum,codsum_YN,snowfall,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed,month
116095,2014-10-30,39,111,3,8,82.0,59.0,71.0,0.0,60.0,...,BR HZ,abnormal,0.0,0.0,29.74,30.37,0.3,11.0,0.2,10.0
116096,2014-10-31,39,9,12,8,78.0,55.0,67.0,0.0,60.0,...,RA,abnormal,0.0,0.0,29.82,30.37,0.3,11.0,5.1,10.0
116097,2014-10-31,39,36,3,8,78.0,55.0,67.0,0.0,60.0,...,RA,abnormal,0.0,0.0,29.82,30.37,0.3,11.0,5.1,10.0
116098,2014-10-31,39,103,4,8,78.0,55.0,67.0,0.0,60.0,...,RA,abnormal,0.0,0.0,29.82,30.37,0.3,11.0,5.1,10.0
116099,2014-10-31,39,111,2,8,78.0,55.0,67.0,0.0,60.0,...,RA,abnormal,0.0,0.0,29.82,30.37,0.3,11.0,5.1,10.0

In [133]:
df_test = df1[df1["codesum"] != "moderate"]

# ols

In [108]:
features = ['date', 'store_nbr', 'item_nbr', 'units', 'station_nbr', 'tmax', 'tmin',
       'tavg', 'depart', 'dewpoint', 'wetbulb', 'heat', 'cool', 'sunrise',
       'sunset', 'codesum', 'codsum_YN', 'snowfall', 'preciptotal',
       'stnpressure', 'sealevel', 'resultspeed', 'resultdir', 'avgspeed',
       'month']
features = " ".join(features)
features = features.replace(" ", " + ")
features

'date + store_nbr + item_nbr + units + station_nbr + tmax + tmin + tavg + depart + dewpoint + wetbulb + heat + cool + sunrise + sunset + codesum + codsum_YN + snowfall + preciptotal + stnpressure + sealevel + resultspeed + resultdir + avgspeed + month'

In [134]:
model_1 = sm.OLS.from_formula("units ~ C(item_nbr) + tmax + tmin + tavg + dewpoint + wetbulb + heat + sunrise + sunset + snowfall + stnpressure + sealevel + resultdir + avgspeed", data=df_test)
result_1 = model_1.fit()
print(result_1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  units   R-squared:                       0.443
Model:                            OLS   Adj. R-squared:                  0.442
Method:                 Least Squares   F-statistic:                     351.1
Date:                Fri, 09 Mar 2018   Prob (F-statistic):               0.00
Time:                        23:51:46   Log-Likelihood:            -2.6377e+05
No. Observations:               53136   AIC:                         5.278e+05
Df Residuals:                   53015   BIC:                         5.289e+05
Df Model:                         120
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
Intercept            277.5430     28.368      9.784      0.000     221.941     333.145
C(item_nbr)[T.2]       6.4066      3.861      1.659      0.097      -1.162      13.975
C(item_nbr)[T.3]       2.4766      4.578      0.541      0.589      -6.496      11.450
C(item_nbr)[T.4]       5.8543      4.900      1.195      0.232      -3.750      15.458
C(item_nbr)[T.5]      52.4041      3.474     15.086      0.000      45.596      59.212
C(item_nbr)[T.6]      39.4190      3.791     10.397      0.000      31.988      46.850
C(item_nbr)[T.7]      -0.1282      4.344     -0.030      0.976      -8.643       8.387
C(item_nbr)[T.8]      31.7405      3.936      8.063      0.000      24.025      39.456
C(item_nbr)[T.9]      56.3058      3.473     16.214      0.000      49.499      63.112
C(item_nbr)[T.10]      8.1346      4.535      1.794      0.073      -0.755      17.024
C(item_nbr)[T.11]     -2.2594      4.793     -0.471      0.637     -11.654       7.135
C(item_nbr)[T.12]     -4.7110      4.638     -1.016      0.310     -13.801       4.379
C(item_nbr)[T.13]      1.2034      4.994      0.241      0.810      -8.585      10.992
C(item_nbr)[T.14]     -1.9903      5.912     -0.337      0.736     -13.578       9.598
C(item_nbr)[T.15]      1.8390      4.060      0.453      0.651      -6.119       9.797
C(item_nbr)[T.16]     35.4492      3.497     10.138      0.000      28.596      42.302
C(item_nbr)[T.17]     -3.7376      4.638     -0.806      0.420     -12.828       5.353
C(item_nbr)[T.18]      0.1858      4.370      0.043      0.966      -8.379       8.751
C(item_nbr)[T.19]     -4.4493      4.678     -0.951      0.342     -13.618       4.719
C(item_nbr)[T.20]      6.5979      4.035      1.635      0.102      -1.311      14.506
C(item_nbr)[T.21]      5.1231      3.802      1.347      0.178      -2.330      12.576
C(item_nbr)[T.22]      8.9127      6.384      1.396      0.163      -3.600      21.425
C(item_nbr)[T.23]     18.8188      3.659      5.143      0.000      11.647      25.990
C(item_nbr)[T.25]     83.1802      3.653     22.771      0.000      76.020      90.340
C(item_nbr)[T.26]      7.7428      3.857      2.007      0.045       0.183      15.303
C(item_nbr)[T.27]      6.8985      3.794      1.818      0.069      -0.537      14.334
C(item_nbr)[T.28]      5.0624      3.827      1.323      0.186      -2.438      12.563
C(item_nbr)[T.29]      7.6607      4.289      1.786      0.074      -0.746      16.068
C(item_nbr)[T.30]      0.3249      4.201      0.077      0.938      -7.909       8.559
C(item_nbr)[T.31]      7.2665      4.536      1.602      0.109      -1.623      16.156
C(item_nbr)[T.32]      6.5798      4.340      1.516      0.130      -1.927      15.087
C(item_nbr)[T.33]      4.9330      4.622      1.067      0.286      -4.127      13.993
C(item_nbr)[T.34]      0.8485      7.428      0.114      0.909     -13.710      15.407
C(item_nbr)[T.35]      0.5205      4.429      0.118      0.906      -8.159       9.200
C(item_nbr)[T.36]     43.3877      3.608     12.026      0.000      36.316      50.459
C(item_nbr)[T.37]     24.0980      3.512      6.861      0.000      17.213      30.982
C(item_nbr)[T.38]      1.6554      4.623      0.358      0.720      -7.405      10.716
C(item_nbr)[T.39]     -0.0185      4.929     -0.004      0.997      -9.680       9.643
C(item_nbr)[T.40]     -1.9316      5.608     -0.344      0.731     -12.923       9.060
C(item_nbr)[T.41]     24.9806      3.673      6.802      0.000      17.782      32.179
C(item_nbr)[T.42]     14.5987      4.277      3.413      0.001       6.216      22.982
C(item_nbr)[T.43]     45.3713      3.790     11.970      0.000      37.942      52.801
C(item_nbr)[T.44]    129.4193      3.539     36.573      0.000     122.484     136.355
C(item_nbr)[T.45]     65.8923      3.488     18.894      0.000      59.057      72.728
C(item_nbr)[T.46]      2.0380      4.565      0.446      0.655      -6.909      10.985
C(item_nbr)[T.47]      7.7072      4.439      1.736      0.083      -0.993      16.407
C(item_nbr)[T.48]    162.0169      4.421     36.649      0.000     153.352     170.682
C(item_nbr)[T.49]     -6.4711      4.936     -1.311      0.190     -16.145       3.203
C(item_nbr)[T.50]      0.1607      4.202      0.038      0.969      -8.075       8.396
C(item_nbr)[T.51]     -3.3921      4.025     -0.843      0.399     -11.281       4.497
C(item_nbr)[T.52]      4.0503      3.895      1.040      0.298      -3.584      11.685
C(item_nbr)[T.53]     -4.2887      4.739     -0.905      0.365     -13.577       4.999
C(item_nbr)[T.54]      3.0755      4.376      0.703      0.482      -5.501      11.652
C(item_nbr)[T.55]     -3.1267      4.485     -0.697      0.486     -11.917       5.663
C(item_nbr)[T.56]      5.0486      4.108      1.229      0.219      -3.003      13.100
C(item_nbr)[T.57]      7.3988      4.779      1.548      0.122      -1.969      16.766
C(item_nbr)[T.58]     -2.5416      4.702     -0.541      0.589     -11.757       6.674
C(item_nbr)[T.59]      1.4309      4.208      0.340      0.734      -6.817       9.679
C(item_nbr)[T.60]     -2.6034      4.102     -0.635      0.526     -10.643       5.436
C(item_nbr)[T.61]      2.6216      3.797      0.691      0.490      -4.820      10.063
C(item_nbr)[T.62]      6.5500      4.389      1.492      0.136      -2.052      15.152
C(item_nbr)[T.64]      1.6030      4.901      0.327      0.744      -8.004      11.210
C(item_nbr)[T.65]     -0.9443      4.351     -0.217      0.828      -9.472       7.584
C(item_nbr)[T.67]     17.1452      4.076      4.206      0.000       9.155      25.135
C(item_nbr)[T.68]     41.8679      3.517     11.905      0.000      34.975      48.761
C(item_nbr)[T.69]      1.6317      4.086      0.399      0.690      -6.376       9.639
C(item_nbr)[T.70]      6.7698      4.990      1.357      0.175      -3.011      16.550
C(item_nbr)[T.71]      6.6182      4.897      1.351      0.177      -2.980      16.216
C(item_nbr)[T.72]      6.7230      4.479      1.501      0.133      -2.056      15.502
C(item_nbr)[T.73]      2.5867      4.408      0.587      0.557      -6.053      11.227
C(item_nbr)[T.74]      2.6711      4.711      0.567      0.571      -6.563      11.905
C(item_nbr)[T.75]      1.9911      4.563      0.436      0.663      -6.952      10.934
C(item_nbr)[T.76]     -4.7115      4.816     -0.978      0.328     -14.151       4.728
C(item_nbr)[T.77]      0.7171      4.545      0.158      0.875      -8.191       9.625
C(item_nbr)[T.78]      4.3364      4.852      0.894      0.371      -5.174      13.847
C(item_nbr)[T.79]      3.3862      4.348      0.779      0.436      -5.135      11.907
C(item_nbr)[T.80]      3.1832      4.601      0.692      0.489      -5.835      12.202
C(item_nbr)[T.81]      7.7326      4.847      1.595      0.111      -1.767      17.233
C(item_nbr)[T.82]     -2.3503      4.963     -0.474      0.636     -12.078       7.378
C(item_nbr)[T.83]      9.6829      3.794      2.552      0.011       2.246      17.120
C(item_nbr)[T.84]      2.9152      5.351      0.545      0.586      -7.573      13.404
C(item_nbr)[T.85]     -0.3326      4.938     -0.067      0.946     -10.011       9.345
C(item_nbr)[T.86]      2.6151      3.995      0.655      0.513      -5.215      10.446
C(item_nbr)[T.87]      3.6379      4.205      0.865      0.387      -4.605      11.881
C(item_nbr)[T.88]      3.4792      5.118      0.680      0.497      -6.552      13.510
C(item_nbr)[T.89]      2.4786      5.890      0.421      0.674      -9.066      14.023
C(item_nbr)[T.90]     -2.4531      4.019     -0.610      0.542     -10.331       5.425
C(item_nbr)[T.91]     -0.0616      4.770     -0.013      0.990      -9.411       9.288
C(item_nbr)[T.92]     -0.3436      4.665     -0.074      0.941      -9.488       8.800
C(item_nbr)[T.93]      8.5237      3.517      2.424      0.015       1.631      15.417
C(item_nbr)[T.94]      6.4717      4.120      1.571      0.116      -1.603      14.546
C(item_nbr)[T.95]     41.7666      4.300      9.713      0.000      33.338      50.195
C(item_nbr)[T.96]     -5.1230      5.412     -0.947      0.344     -15.730       5.484
C(item_nbr)[T.97]      2.3192      4.517      0.513      0.608      -6.535      11.173
C(item_nbr)[T.98]      3.3674      4.061      0.829      0.407      -4.593      11.328
C(item_nbr)[T.99]      1.3948      4.878      0.286      0.775      -8.167      10.956
C(item_nbr)[T.100]     2.4831      4.927      0.504      0.614      -7.174      12.141
C(item_nbr)[T.101]    -3.2598      4.773     -0.683      0.495     -12.615       6.095
C(item_nbr)[T.102]     1.5841      9.094      0.174      0.862     -16.240      19.408
C(item_nbr)[T.103]     9.3739      4.972      1.885      0.059      -0.372      19.119
C(item_nbr)[T.104]     2.4009      4.387      0.547      0.584      -6.198      11.000
C(item_nbr)[T.105]     4.1765      4.332      0.964      0.335      -4.314      12.667
C(item_nbr)[T.106]    -0.1299      6.327     -0.021      0.984     -12.531      12.271
C(item_nbr)[T.107]    -1.5706      5.167     -0.304      0.761     -11.697       8.556
C(item_nbr)[T.108]    11.6018      4.436      2.616      0.009       2.908      20.296
C(item_nbr)[T.109]     5.3344      4.073      1.310      0.190      -2.650      13.318
C(item_nbr)[T.110]    10.5853      5.619      1.884      0.060      -0.429      21.599
C(item_nbr)[T.111]    12.5614      6.189      2.030      0.042       0.431      24.691
tmax                  -0.2243      0.177     -1.268      0.205      -0.571       0.122
tmin                  -0.3921      0.178     -2.199      0.028      -0.742      -0.043
tavg                   0.6641      0.347      1.912      0.056      -0.017       1.345
dewpoint               0.3316      0.067      4.931      0.000       0.200       0.463
wetbulb               -0.3860      0.122     -3.162      0.002      -0.625      -0.147
heat                   0.3276      0.035      9.310      0.000       0.259       0.397
sunrise                0.0175      0.004      4.856      0.000       0.010       0.025
sunset                 0.0372      0.003     14.404      0.000       0.032       0.042
snowfall              -1.5227      0.361     -4.215      0.000      -2.231      -0.815
stnpressure           -0.7254      0.125     -5.784      0.000      -0.971      -0.480
sealevel             -11.2830      0.943    -11.967      0.000     -13.131      -9.435
resultdir             -0.0069      0.016     -0.439      0.661      -0.038       0.024
avgspeed               0.2805      0.045      6.245      0.000       0.192       0.369
==============================================================================
Omnibus:                   114027.324   Durbin-Watson:                   1.604
Prob(Omnibus):                  0.000   Jarque-Bera (JB):       5468113207.141
Skew:                          18.096   Prob(JB):                         0.00
Kurtosis:                    1574.140   Cond. No.                     4.51e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.51e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

(96094, 25)

,date,store_nbr,item_nbr,units,station_nbr,tmax,tmin,tavg,depart,dewpoint,...,codesum,codsum_YN,snowfall,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed,month
0,2012-01-01,1,9,29,1,52.0,31.0,42.0,0.0,36.0,...,RA FZFG BR,abnormal,0.05,0.05,29.78,29.92,3.6,20.0,4.6,1.0
1,2012-01-01,1,28,2,1,52.0,31.0,42.0,0.0,36.0,...,RA FZFG BR,abnormal,0.05,0.05,29.78,29.92,3.6,20.0,4.6,1.0
2,2012-01-02,1,9,60,1,50.0,31.0,41.0,0.0,26.0,...,moderate,moderate,0.01,0.01,29.44,29.62,9.8,24.0,10.3,1.0
3,2012-01-02,1,28,5,1,50.0,31.0,41.0,0.0,26.0,...,moderate,moderate,0.01,0.01,29.44,29.62,9.8,24.0,10.3,1.0
4,2012-01-03,1,9,15,1,32.0,11.0,22.0,0.0,4.0,...,moderate,moderate,0.00,0.00,29.67,29.87,10.8,31.0,11.6,1.0
5,2012-01-03,1,28,9,1,32.0,11.0,22.0,0.0,4.0,...,moderate,moderate,0.00,0.00,29.67,29.87,10.8,31.0,11.6,1.0
6,2012-01-04,1,9,20,1,28.0,9.0,19.0,0.0,-1.0,...,moderate,moderate,0.00,0.00,29.86,30.03,6.3,27.0,8.3,1.0
7,2012-01-04,1,28,3,1,28.0,9.0,19.0,0.0,-1.0,...,moderate,moderate,0.00,0.00,29.86,30.03,6.3,27.0,8.3,1.0
8,2012-01-05,1,9,16,1,38.0,25.0,32.0,0.0,13.0,...,moderate,moderate,0.00,0.00,29.67,29.84,6.9,25.0,7.8,1.0
9,2012-01-05,1,28,1,1,38.0,25.0,32.0,0.0,13.0,...,moderate,moderate,0.00,0.00,29.67,29.84,6.9,25.0,7.8,1.0
10,2012-01-06,1,9,12,1,46.0,25.0,36.0,0.0,21.0,...,SN,abnormal,0.00,0.00,29.68,29.84,0.3,1.0,2.4,1.0
11,2012-01-06,1,28,2,1,46.0,25.0,36.0,0.0,21.0,...,SN,abnormal,0.00,0.00,29.68,29.84,0.3,1.0,2.4,1.0
12,2012-01-07,1,9,2,1,57.0,28.0,43.0,0.0,28.0,...,moderate,moderate,0.00,0.00,29.57,29.76,3.0,26.0,3.6,1.0
13,2012-01-07,1,28,1,1,57.0,28.0,43.0,0.0,28.0,...,moderate,moderate,0.00,0.00,29.57,29.76,3.0,26.0,3.6,1.0
14,2012-01-08,1,9,22,1,45.0,27.0,36.0,0.0,22.0,...,moderate,moderate,0.00,0.00,29.90,30.11,5.1,30.0,6.6,1.0
15,2012-01-08,1,28,4,1,45.0,27.0,36.0,0.0,22.0,...,moderate,moderate,0.00,0.00,29.90,30.11,5.1,30.0,6.6,1.0
16,2012-01-09,1,9,50,1,39.0,23.0,31.0,0.0,12.0,...,moderate,moderate,0.00,0.00,30.06,30.20,2.3,23.0,4.0,1.0
17,2012-01-09,1,28,1,1,39.0,23.0,31.0,0.0,12.0,...,moderate,moderate,0.00,0.00,30.06,30.20,2.3,23.0,4.0,1.0
18,2012-01-10,1,9,25,1,47.0,29.0,38.0,0.0,24.0,...,moderate,moderate,0.00,0.00,29.69,29.86,5.4,25.0,6.5,1.0
19,2012-01-11,1,9,26,1,39.0,24.0,32.0,0.0,21.0,...,moderate,moderate,0.00,0.00,29.91,30.10,3.4,7.0,4.2,1.0
20,2012-01-11,1,28,1,1,39.0,24.0,32.0,0.0,21.0,...,moderate,moderate,0.00,0.00,29.91,30.10,3.4,7.0,4.2,1.0
21,2012-01-12,1,9,32,1,40.0,31.0,36.0,0.0,31.0,...,RA SN BR,abnormal,0.69,0.69,29.62,29.74,10.7,5.0,12.3,1.0
22,2012-01-12,1,28,2,1,40.0,31.0,36.0,0.0,31.0,...,RA SN BR,abnormal,0.69,0.69,29.62,29.74,10.7,5.0,12.3,1.0
23,2012-01-12,1,93,3,1,40.0,31.0,36.0,0.0,31.0,...,RA SN BR,abnormal,0.69,0.69,29.62,29.74,10.7,5.0,12.3,1.0
24,2012-01-13,1,9,29,1,50.0,30.0,40.0,0.0,27.0,...,RA FZRA FG+ FG BR UP,abnormal,0.02,0.02,29.24,29.41,8.7,24.0,12.7,1.0
25,2012-01-13,1,28,3,1,50.0,30.0,40.0,0.0,27.0,...,RA FZRA FG+ FG BR UP,abnormal,0.02,0.02,29.24,29.41,8.7,24.0,12.7,1.0
26,2012-01-14,1,9,48,1,35.0,14.0,25.0,0.0,12.0,...,moderate,moderate,0.00,0.00,29.58,29.81,11.1,28.0,12.5,1.0
27,2012-01-14,1,28,3,1,35.0,14.0,25.0,0.0,12.0,...,moderate,moderate,0.00,0.00,29.58,29.81,11.1,28.0,12.5,1.0
28,2012-01-15,1,9,40,1,16.0,4.0,10.0,0.0,-5.0,...,moderate,moderate,0.00,0.00,30.09,30.31,11.2,31.0,11.6,1.0
29,2012-01-15,1,28,1,1,16.0,4.0,10.0,0.0,-5.0,...,moderate,moderate,0.00,0.00,30.09,30.31,11.2,31.0,11.6,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96064,2014-10-23,39,36,1,8,82.0,61.0,72.0,0.0,61.0,...,RA,abnormal,0.01,0.01,29.73,30.37,0.4,2.0,0.5,10.0
96065,2014-10-23,39,103,1,8,82.0,61.0,72.0,0.0,61.0,...,RA,abnormal,0.01,0.01,29.73,30.37,0.4,2.0,0.5,10.0
96066,2014-10-23,39,111,5,8,82.0,61.0,72.0,0.0,61.0,...,RA,abnormal,0.01,0.01,29.73,30.37,0.4,2.0,0.5,10.0
96067,2014-10-24,39,9,1,8,84.0,56.0,70.0,0.0,59.0,...,HZ,abnormal,0.00,0.00,29.76,30.37,0.3,14.0,0.3,10.0
96068,2014-10-24,39,36,8,8,84.0,56.0,70.0,0.0,59.0,...,HZ,abnormal,0.00,0.00,29.76,30.37,0.3,14.0,0.3,10.0
96069,2014-10-24,39,111,5,8,84.0,56.0,70.0,0.0,59.0,...,HZ,abnormal,0.00,0.00,29.76,30.37,0.3,14.0,0.3,10.0
96070,2014-10-25,39,9,8,8,87.0,58.0,73.0,0.0,61.0,...,moderate,moderate,0.00,0.00,29.76,30.37,1.8,20.0,2.1,10.0
96071,2014-10-25,39,36,1,8,87.0,58.0,73.0,0.0,61.0,...,moderate,moderate,0.00,0.00,29.76,30.37,1.8,20.0,2.1,10.0
96072,2014-10-25,39,103,2,8,87.0,58.0,73.0,0.0,61.0,...,moderate,moderate,0.00,0.00,29.76,30.37,1.8,20.0,2.1,10.0
96073,2014-10-25,39,111,1,8,87.0,58.0,73.0,0.0,61.0,...,moderate,moderate,0.00,0.00,29.76,30.37,1.8,20.0,2.1,10.0
96074,2014-10-26,39,9,3,8,86.0,57.0,72.0,0.0,60.0,...,BR,abnormal,0.00,0.00,29.64,30.37,4.7,17.0,4.8,10.0
96075,2014-10-26,39,36,3,8,86.0,57.0,72.0,0.0,60.0,...,BR,abnormal,0.00,0.00,29.64,30.37,4.7,17.0,4.8,10.0
96076,2014-10-26,39,103,1,8,86.0,57.0,72.0,0.0,60.0,...,BR,abnormal,0.00,0.00,29.64,30.37,4.7,17.0,4.8,10.0
96077,2014-10-26,39,111,5,8,86.0,57.0,72.0,0.0,60.0,...,BR,abnormal,0.00,0.00,29.64,30.37,4.7,17.0,4.8,10.0
96078,2014-10-27,39,9,13,8,86.0,61.0,74.0,0.0,64.0,...,HZ,abnormal,0.00,0.00,29.55,30.37,6.3,18.0,6.5,10.0
96079,2014-10-27,39,36,3,8,86.0,61.0,74.0,0.0,64.0,...,HZ,abnormal,0.00,0.00,29.55,30.37,6.3,18.0,6.5,10.0
96080,2014-10-27,39,111,9,8,86.0,61.0,74.0,0.0,64.0,...,HZ,abnormal,0.00,0.00,29.55,30.37,6.3,18.0,6.5,10.0
96081,2014-10-28,39,9,6,8,85.0,62.0,74.0,0.0,66.0,...,BR,abnormal,0.00,0.00,29.63,30.37,0.9,18.0,1.1,10.0
96082,2014-10-28,39,36,4,8,85.0,62.0,74.0,0.0,66.0,...,BR,abnormal,0.00,0.00,29.63,30.37,0.9,18.0,1.1,10.0
96083,2014-10-28,39,111,5,8,85.0,62.0,74.0,0.0,66.0,...,BR,abnormal,0.00,0.00,29.63,30.37,0.9,18.0,1.1,10.0
96084,2014-10-29,39,9,11,8,77.0,64.0,71.0,0.0,66.0,...,BR,abnormal,0.00,0.00,29.74,30.37,2.4,1.0,2.8,10.0
96085,2014-10-29,39,36,7,8,77.0,64.0,71.0,0.0,66.0,...,BR,abnormal,0.00,0.00,29.74,30.37,2.4,1.0,2.8,10.0
96086,2014-10-29,39,111,6,8,77.0,64.0,71.0,0.0,66.0,...,BR,abnormal,0.00,0.00,29.74,30.37,2.4,1.0,2.8,10.0
96087,2014-10-30,39,9,6,8,82.0,59.0,71.0,0.0,60.0,...,BR HZ,abnormal,0.00,0.00,29.74,30.37,0.3,11.0,0.2,10.0
96088,2014-10-30,39,36,2,8,82.0,59.0,71.0,0.0,60.0,...,BR HZ,abnormal,0.00,0.00,29.74,30.37,0.3,11.0,0.2,10.0
96089,2014-10-30,39,111,3,8,82.0,59.0,71.0,0.0,60.0,...,BR HZ,abnormal,0.00,0.00,29.74,30.37,0.3,11.0,0.2,10.0
96090,2014-10-31,39,9,12,8,78.0,55.0,67.0,0.0,60.0,...,RA,abnormal,0.00,0.00,29.82,30.37,0.3,11.0,5.1,10.0
96091,2014-10-31,39,36,3,8,78.0,55.0,67.0,0.0,60.0,...,RA,abnormal,0.00,0.00,29.82,30.37,0.3,11.0,5.1,10.0
96092,2014-10-31,39,103,4,8,78.0,55.0,67.0,0.0,60.0,...,RA,abnormal,0.00,0.00,29.82,30.37,0.3,11.0,5.1,10.0
96093,2014-10-31,39,111,2,8,78.0,55.0,67.0,0.0,60.0,...,RA,abnormal,0.00,0.00,29.82,30.37,0.3,11.0,5.1,10.0

In [218]:
df1['item_nbr'].unique()

array([  9,  28,  93,  47,   5,  44,  45,  41,   2, 109,  27,   6,  43,
        16,  32,  37,  68,  20,  21,  62,  94, 108,  23,  36,  95,  10,
        29,  31,  42,  72,  67,  57, 110,  70,  25,  26,  22,  49,  81,
        48,  71,  83,   8,   1, 103, 111])

In [212]:
model_1 = sm.OLS.from_formula("units ~ C(item_nbr)+ tmin + tavg + wetbulb + dewpoint + heat + sunrise + sunset + snowfall + stnpressure + sealevel + avgspeed", data=df1)
result_1 = model_1.fit()
print(result_1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  units   R-squared:                       0.346
Model:                            OLS   Adj. R-squared:                  0.345
Method:                 Least Squares   F-statistic:                     906.3
Date:                Sat, 10 Mar 2018   Prob (F-statistic):               0.00
Time:                        00:04:02   Log-Likelihood:            -4.9298e+05
No. Observations:               96094   AIC:                         9.861e+05
Df Residuals:                   96037   BIC:                         9.866e+05
Df Model:                          56
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
Intercept            214.6460     25.463      8.430      0.000     164.738     264.554
C(item_nbr)[T.2]       4.7473      2.746      1.729      0.084      -0.634      10.129
C(item_nbr)[T.5]      50.0226      2.388     20.949      0.000      45.343      54.703
C(item_nbr)[T.6]      40.1311      2.715     14.783      0.000      34.810      45.452
C(item_nbr)[T.8]      31.2430      2.719     11.489      0.000      25.913      36.573
C(item_nbr)[T.9]      59.0845      2.387     24.750      0.000      54.406      63.763
C(item_nbr)[T.10]      6.3023      3.271      1.927      0.054      -0.109      12.713
C(item_nbr)[T.16]     34.7013      2.420     14.342      0.000      29.959      39.444
C(item_nbr)[T.20]      6.2971      3.009      2.093      0.036       0.400      12.194
C(item_nbr)[T.21]      5.1355      2.731      1.880      0.060      -0.218      10.489
C(item_nbr)[T.22]      8.6777      5.068      1.712      0.087      -1.256      18.611
C(item_nbr)[T.23]     18.0167      2.545      7.080      0.000      13.029      23.004
C(item_nbr)[T.25]     84.7510      2.575     32.919      0.000      79.705      89.797
C(item_nbr)[T.26]      7.6071      2.785      2.732      0.006       2.149      13.066
C(item_nbr)[T.27]      8.5443      2.716      3.146      0.002       3.220      13.868
C(item_nbr)[T.28]      6.6619      2.750      2.423      0.015       1.272      12.051
C(item_nbr)[T.29]      5.8911      3.043      1.936      0.053      -0.073      11.855
C(item_nbr)[T.31]      5.5508      3.304      1.680      0.093      -0.925      12.027
C(item_nbr)[T.32]      6.1748      3.378      1.828      0.068      -0.447      12.796
C(item_nbr)[T.36]     47.3837      2.548     18.598      0.000      42.390      52.377
C(item_nbr)[T.37]     26.1297      2.432     10.742      0.000      21.362      30.897
C(item_nbr)[T.41]     23.6917      2.548      9.298      0.000      18.698      28.686
C(item_nbr)[T.42]     12.8721      3.028      4.251      0.000       6.938      18.807
C(item_nbr)[T.43]     45.5357      2.715     16.774      0.000      40.215      50.857
C(item_nbr)[T.44]    125.1582      2.432     51.466      0.000     120.392     129.925
C(item_nbr)[T.45]     64.5043      2.398     26.901      0.000      59.805      69.204
C(item_nbr)[T.47]      9.3189      3.362      2.772      0.006       2.729      15.908
C(item_nbr)[T.48]    161.6363      3.030     53.354      0.000     155.698     167.574
C(item_nbr)[T.49]     -7.6743      4.044     -1.898      0.058     -15.601       0.252
C(item_nbr)[T.57]      5.5488      3.573      1.553      0.120      -1.454      12.552
C(item_nbr)[T.62]      5.8669      3.375      1.738      0.082      -0.749      12.482
C(item_nbr)[T.67]     15.3013      2.925      5.232      0.000       9.569      21.033
C(item_nbr)[T.68]     41.3181      2.439     16.938      0.000      36.537      46.099
C(item_nbr)[T.70]      7.1461      3.779      1.891      0.059      -0.261      14.553
C(item_nbr)[T.71]      5.2800      3.458      1.527      0.127      -1.498      12.058
C(item_nbr)[T.72]      5.0391      3.214      1.568      0.117      -1.261      11.339
C(item_nbr)[T.81]      6.1340      3.213      1.909      0.056      -0.164      12.432
C(item_nbr)[T.83]      9.3756      2.758      3.399      0.001       3.969      14.782
C(item_nbr)[T.93]      6.5615      2.440      2.689      0.007       1.779      11.344
C(item_nbr)[T.94]      6.1653      3.073      2.007      0.045       0.143      12.188
C(item_nbr)[T.95]     41.1622      3.141     13.105      0.000      35.006      47.319
C(item_nbr)[T.103]     7.5366      4.164      1.810      0.070      -0.624      15.698
C(item_nbr)[T.108]    11.5001      3.406      3.377      0.001       4.825      18.175
C(item_nbr)[T.109]     5.0349      2.882      1.747      0.081      -0.615      10.685
C(item_nbr)[T.110]    10.4819      4.204      2.493      0.013       2.242      18.722
C(item_nbr)[T.111]     9.7901      5.418      1.807      0.071      -0.830      20.410
tmin                  -0.1686      0.042     -4.015      0.000      -0.251      -0.086
tavg                   0.6034      0.062      9.749      0.000       0.482       0.725
wetbulb               -0.8079      0.105     -7.711      0.000      -1.013      -0.603
dewpoint               0.4876      0.051      9.616      0.000       0.388       0.587
heat                   0.5045      0.030     16.855      0.000       0.446       0.563
sunrise                0.0072      0.003      2.291      0.022       0.001       0.013
sunset                 0.0265      0.002     12.569      0.000       0.022       0.031
snowfall              -2.6165      0.490     -5.337      0.000      -3.577      -1.656
stnpressure           -1.2874      0.102    -12.608      0.000      -1.488      -1.087
sealevel              -8.1294      0.857     -9.489      0.000      -9.808      -6.450
avgspeed               0.3509      0.039      8.894      0.000       0.274       0.428
==============================================================================
Omnibus:                   259123.815   Durbin-Watson:                   1.554
Prob(Omnibus):                  0.000   Jarque-Bera (JB):      60062576188.457
Skew:                          32.165   Prob(JB):                         0.00
Kurtosis:                    3875.572   Cond. No.                     3.62e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.62e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

# `Rsquared, Cond. No. , Durbin-Watson`

# test file preprocessing

In [199]:
test = pd.read_csv('../data/basic/test.csv')
print(test.shape)
test.head()

(526917, 3)

         date  store_nbr  item_nbr
0  2013-04-01          2         1
1  2013-04-01          2         2
2  2013-04-01          2         3
3  2013-04-01          2         4
4  2013-04-01          2         5

In [200]:
test = pd.merge(test, key)

In [201]:
weather_basic = pd.read_csv('../data/basic/weather.csv')

In [202]:
test = pd.merge(test, weather_basic)

In [203]:
test = pd.DataFrame(test, columns=['date', 'tmax', 'tmin', 'tavg',
       'depart', 'dewpoint', 'wetbulb', 'heat', 'cool', 'sunrise', 'sunset',
       'codesum', 'snowfall', 'preciptotal', 'stnpressure', 'sealevel',
       'resultspeed', 'resultdir', 'avgspeed', 'station_nbr', 'store_nbr', 'item_nbr'])

In [204]:
test.head()

,date,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,sunrise,...,snowfall,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed,station_nbr,store_nbr,item_nbr
0,2013-04-01,71,42,57,1,41,48,8,0,0617,...,0.0,T,28.68,30.05,9.3,04,11.0,14,2,1
1,2013-04-01,71,42,57,1,41,48,8,0,0617,...,0.0,T,28.68,30.05,9.3,04,11.0,14,2,2
2,2013-04-01,71,42,57,1,41,48,8,0,0617,...,0.0,T,28.68,30.05,9.3,04,11.0,14,2,3
3,2013-04-01,71,42,57,1,41,48,8,0,0617,...,0.0,T,28.68,30.05,9.3,04,11.0,14,2,4
4,2013-04-01,71,42,57,1,41,48,8,0,0617,...,0.0,T,28.68,30.05,9.3,04,11.0,14,2,5

In [205]:
for i in test.columns:
    test[i] = test[i].replace('-', np.nan)
    test[i] = test[i].replace(' ', np.nan)
    test[i] = test[i].replace('M', np.nan)
    test[i] = test[i].replace('T', np.nan)
    test[i] = test[i].replace('  T', np.nan)

In [206]:
for col in test[['tmax', 'tmin', 'tavg', 'depart', 'dewpoint', 'wetbulb', 'heat',
       'cool', 'sunrise', 'sunset', 'snowfall', 'preciptotal',
       'stnpressure', 'sealevel', 'resultspeed', 'resultdir', 'avgspeed',
       'station_nbr', 'store_nbr', 'item_nbr']]:
    test[col] = test[col].astype(np.float64)

In [207]:
test.columns

Index(['date', 'tmax', 'tmin', 'tavg', 'depart', 'dewpoint', 'wetbulb', 'heat',
       'cool', 'sunrise', 'sunset', 'codesum', 'snowfall', 'preciptotal',
       'stnpressure', 'sealevel', 'resultspeed', 'resultdir', 'avgspeed',
       'station_nbr', 'store_nbr', 'item_nbr'],
      dtype='object')

In [208]:
test_sample = test.drop(columns=['date', 'tmax', 'depart', 'cool','preciptotal', 'resultspeed', 'resultdir', 'codesum', 'station_nbr', 'store_nbr'])

In [215]:
test_sample['item_nbr'] = test_sample['item_nbr'].astype(int)

In [216]:
test_sample

,tmin,tavg,dewpoint,wetbulb,heat,sunrise,sunset,snowfall,stnpressure,sealevel,avgspeed,item_nbr
0,42.0,57.0,41.0,48.0,8.0,617.0,1851.0,0.0,28.68,30.05,11.0,1
1,42.0,57.0,41.0,48.0,8.0,617.0,1851.0,0.0,28.68,30.05,11.0,2
2,42.0,57.0,41.0,48.0,8.0,617.0,1851.0,0.0,28.68,30.05,11.0,3
3,42.0,57.0,41.0,48.0,8.0,617.0,1851.0,0.0,28.68,30.05,11.0,4
4,42.0,57.0,41.0,48.0,8.0,617.0,1851.0,0.0,28.68,30.05,11.0,5
5,42.0,57.0,41.0,48.0,8.0,617.0,1851.0,0.0,28.68,30.05,11.0,6
6,42.0,57.0,41.0,48.0,8.0,617.0,1851.0,0.0,28.68,30.05,11.0,7
7,42.0,57.0,41.0,48.0,8.0,617.0,1851.0,0.0,28.68,30.05,11.0,8
8,42.0,57.0,41.0,48.0,8.0,617.0,1851.0,0.0,28.68,30.05,11.0,9
9,42.0,57.0,41.0,48.0,8.0,617.0,1851.0,0.0,28.68,30.05,11.0,10
10,42.0,57.0,41.0,48.0,8.0,617.0,1851.0,0.0,28.68,30.05,11.0,11
11,42.0,57.0,41.0,48.0,8.0,617.0,1851.0,0.0,28.68,30.05,11.0,12
12,42.0,57.0,41.0,48.0,8.0,617.0,1851.0,0.0,28.68,30.05,11.0,13
13,42.0,57.0,41.0,48.0,8.0,617.0,1851.0,0.0,28.68,30.05,11.0,14
14,42.0,57.0,41.0,48.0,8.0,617.0,1851.0,0.0,28.68,30.05,11.0,15
15,42.0,57.0,41.0,48.0,8.0,617.0,1851.0,0.0,28.68,30.05,11.0,16
16,42.0,57.0,41.0,48.0,8.0,617.0,1851.0,0.0,28.68,30.05,11.0,17
17,42.0,57.0,41.0,48.0,8.0,617.0,1851.0,0.0,28.68,30.05,11.0,18
18,42.0,57.0,41.0,48.0,8.0,617.0,1851.0,0.0,28.68,30.05,11.0,19
19,42.0,57.0,41.0,48.0,8.0,617.0,1851.0,0.0,28.68,30.05,11.0,20
20,42.0,57.0,41.0,48.0,8.0,617.0,1851.0,0.0,28.68,30.05,11.0,21
21,42.0,57.0,41.0,48.0,8.0,617.0,1851.0,0.0,28.68,30.05,11.0,22
22,42.0,57.0,41.0,48.0,8.0,617.0,1851.0,0.0,28.68,30.05,11.0,23
23,42.0,57.0,41.0,48.0,8.0,617.0,1851.0,0.0,28.68,30.05,11.0,24
24,42.0,57.0,41.0,48.0,8.0,617.0,1851.0,0.0,28.68,30.05,11.0,25
25,42.0,57.0,41.0,48.0,8.0,617.0,1851.0,0.0,28.68,30.05,11.0,26
26,42.0,57.0,41.0,48.0,8.0,617.0,1851.0,0.0,28.68,30.05,11.0,27
27,42.0,57.0,41.0,48.0,8.0,617.0,1851.0,0.0,28.68,30.05,11.0,28
28,42.0,57.0,41.0,48.0,8.0,617.0,1851.0,0.0,28.68,30.05,11.0,29
29,42.0,57.0,41.0,48.0,8.0,617.0,1851.0,0.0,28.68,30.05,11.0,30
...,...,...,...,...,...,...,...,...,...,...,...,...
526887,51.0,66.0,47.0,56.0,0.0,NaN,NaN,NaN,24.44,30.12,6.5,82
526888,51.0,66.0,47.0,56.0,0.0,NaN,NaN,NaN,24.44,30.12,6.5,83
526889,51.0,66.0,47.0,56.0,0.0,NaN,NaN,NaN,24.44,30.12,6.5,84
526890,51.0,66.0,47.0,56.0,0.0,NaN,NaN,NaN,24.44,30.12,6.5,85
526891,51.0,66.0,47.0,56.0,0.0,NaN,NaN,NaN,24.44,30.12,6.5,86
526892,51.0,66.0,47.0,56.0,0.0,NaN,NaN,NaN,24.44,30.12,6.5,87
526893,51.0,66.0,47.0,56.0,0.0,NaN,NaN,NaN,24.44,30.12,6.5,88
526894,51.0,66.0,47.0,56.0,0.0,NaN,NaN,NaN,24.44,30.12,6.5,89
526895,51.0,66.0,47.0,56.0,0.0,NaN,NaN,NaN,24.44,30.12,6.5,90
526896,51.0,66.0,47.0,56.0,0.0,NaN,NaN,NaN,24.44,30.12,6.5,91
526897,51.0,66.0,47.0,56.0,0.0,NaN,NaN,NaN,24.44,30.12,6.5,92
526898,51.0,66.0,47.0,56.0,0.0,NaN,NaN,NaN,24.44,30.12,6.5,93
526899,51.0,66.0,47.0,56.0,0.0,NaN,NaN,NaN,24.44,30.12,6.5,94
526900,51.0,66.0,47.0,56.0,0.0,NaN,NaN,NaN,24.44,30.12,6.5,95
526901,51.0,66.0,47.0,56.0,0.0,NaN,NaN,NaN,24.44,30.12,6.5,96
526902,51.0,66.0,47.0,56.0,0.0,NaN,NaN,NaN,24.44,30.12,6.5,97
526903,51.0,66.0,47.0,56.0,0.0,NaN,NaN,NaN,24.44,30.12,6.5,98
526904,51.0,66.0,47.0,56.0,0.0,NaN,NaN,NaN,24.44,30.12,6.5,99
526905,51.0,66.0,47.0,56.0,0.0,NaN,NaN,NaN,24.44,30.12,6.5,100
526906,51.0,66.0,47.0,56.0,0.0,NaN,NaN,NaN,24.44,30.12,6.5,101
526907,51.0,66.0,47.0,56.0,0.0,NaN,NaN,NaN,24.44,30.12,6.5,102
526908,51.0,66.0,47.0,56.0,0.0,NaN,NaN,NaN,24.44,30.12,6.5,103
526909,51.0,66.0,47.0,56.0,0.0,NaN,NaN,NaN,24.44,30.12,6.5,104
526910,51.0,66.0,47.0,56.0,0.0,NaN,NaN,NaN,24.44,30.12,6.5,105
526911,51.0,66.0,47.0,56.0,0.0,NaN,NaN,NaN,24.44,30.12,6.5,106
526912,51.0,66.0,47.0,56.0,0.0,NaN,NaN,NaN,24.44,30.12,6.5,107
526913,51.0,66.0,47.0,56.0,0.0,NaN,NaN,NaN,24.44,30.12,6.5,108
526914,51.0,66.0,47.0,56.0,0.0,NaN,NaN,NaN,24.44,30.12,6.5,109
526915,51.0,66.0,47.0,56.0,0.0,NaN,NaN,NaN,24.44,30.12,6.5,110
526916,51.0,66.0,47.0,56.0,0.0,NaN,NaN,NaN,24.44,30.12,6.5,111

In [225]:
use_item_nbr = df1['item_nbr'].unique()
use_item_nbr.sort()
use_item_nbr

array([  1,   2,   5,   6,   8,   9,  10,  16,  20,  21,  22,  23,  25,
        26,  27,  28,  29,  31,  32,  36,  37,  41,  42,  43,  44,  45,
        47,  48,  49,  57,  62,  67,  68,  70,  71,  72,  81,  83,  93,
        94,  95, 103, 108, 109, 110, 111])

In [231]:
test_sample_1 = test_sample[test_sample['item_nbr'].isin(use_item_nbr)]
test_sample_2 = test_sample[test_sample['item_nbr'].isin(use_item_nbr) == False]

# Predict

codesum 컬럼에서 에러가 떴습니다.. 이 부분은 따로 제출을 위한 encoding이 필요해보입니다. 여기서는 그냥 뺐습니다.

In [232]:
test_result = result_1.predict(test_sample_1)

In [233]:
test_result.describe()

count    88320.000000
mean        26.110748
std         32.489714
min        -28.597478
25%          7.623130
50%         12.802553
75%         37.117830
max        175.529242
dtype: float64

# preprocess for submission

In [277]:
result = pd.concat([test, test_result], axis=1)

In [278]:
print(result.shape)
result.head()

(526917, 23)

,date,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,sunrise,...,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed,station_nbr,store_nbr,item_nbr,0
0,2013-04-01,71.0,42.0,57.0,1.0,41.0,48.0,8.0,0.0,617.0,...,NaN,28.68,30.05,9.3,4.0,11.0,14.0,2.0,1.0,3.337372
1,2013-04-01,71.0,42.0,57.0,1.0,41.0,48.0,8.0,0.0,617.0,...,NaN,28.68,30.05,9.3,4.0,11.0,14.0,2.0,2.0,8.084623
2,2013-04-01,71.0,42.0,57.0,1.0,41.0,48.0,8.0,0.0,617.0,...,NaN,28.68,30.05,9.3,4.0,11.0,14.0,2.0,3.0,NaN
3,2013-04-01,71.0,42.0,57.0,1.0,41.0,48.0,8.0,0.0,617.0,...,NaN,28.68,30.05,9.3,4.0,11.0,14.0,2.0,4.0,NaN
4,2013-04-01,71.0,42.0,57.0,1.0,41.0,48.0,8.0,0.0,617.0,...,NaN,28.68,30.05,9.3,4.0,11.0,14.0,2.0,5.0,53.359971

In [279]:
result['units'] = result[0]

In [280]:
result = pd.DataFrame(data=result, columns=['store_nbr', 'item_nbr', 'date', 'units'])

In [281]:
result.head()

   store_nbr  item_nbr        date      units
0        2.0       1.0  2013-04-01   3.337372
1        2.0       2.0  2013-04-01   8.084623
2        2.0       3.0  2013-04-01        NaN
3        2.0       4.0  2013-04-01        NaN
4        2.0       5.0  2013-04-01  53.359971

In [282]:
for col in result[['store_nbr', 'item_nbr']]:
    result[col] = result[col].astype(int)

In [283]:
result['id'] = result['store_nbr'].astype(str)+'_'+result['item_nbr'].astype(str)+'_'+result['date'].astype(str)

In [284]:
result.head()

   store_nbr  item_nbr        date      units              id
0          2         1  2013-04-01   3.337372  2_1_2013-04-01
1          2         2  2013-04-01   8.084623  2_2_2013-04-01
2          2         3  2013-04-01        NaN  2_3_2013-04-01
3          2         4  2013-04-01        NaN  2_4_2013-04-01
4          2         5  2013-04-01  53.359971  2_5_2013-04-01

In [285]:
result = result.replace(np.nan, 0)

In [286]:
result = pd.DataFrame(data=result, columns=['id','units'], index = None)

In [287]:
result['units'] = result['units'].apply(np.ceil)

In [288]:
print(result.shape)
result.head()

(526917, 2)

               id  units
0  2_1_2013-04-01    4.0
1  2_2_2013-04-01    9.0
2  2_3_2013-04-01    0.0
3  2_4_2013-04-01    0.0
4  2_5_2013-04-01   54.0

In [289]:
result.to_csv('submission_sample.csv', index=False)

#### 캐글에 제출 해보니까 1.24 나왔습니다

# 모두 0으로 제출하면 0.516 이 나온다고 하네요

(그리고 작을 수록 좋은거니까 ... 망)