In [1]:
from ml_config import *
from jw_package import *

import configuration completed !
Data configuration has been started !
Data configuration completed !
function configuration completed !
Good to go !

* 아예 없다
    > station에 같이 딸린 나머지 store애들을 전부 넣고 (평균 or best-close)

* 있긴 있다
    > 그 store의 (평균 or best-close)

* 항상 복원해야 할까?
    > 만약 눈이 아예 안오는 지역은 snowfall을 복원할 필요가 있을까
    
    > 복원하고 안하고의 기준은? 어떤 feature들일까?

In [36]:
df_1.head()

,station_nbr,date,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,...,sealevel,resultspeed,resultdir,avgspeed,store_nbr,item_nbr,units,year,month,day
0,1,2012-01-01,52,31,42,M,36,40,23,0,...,29.92,3.6,20,4.6,1,1,0,2012,1,1
1,1,2012-01-01,52,31,42,M,36,40,23,0,...,29.92,3.6,20,4.6,1,2,0,2012,1,1
2,1,2012-01-01,52,31,42,M,36,40,23,0,...,29.92,3.6,20,4.6,1,3,0,2012,1,1
3,1,2012-01-01,52,31,42,M,36,40,23,0,...,29.92,3.6,20,4.6,1,4,0,2012,1,1
4,1,2012-01-01,52,31,42,M,36,40,23,0,...,29.92,3.6,20,4.6,1,5,0,2012,1,1