In [1]:
from set_math import *

sympy imported
pandas imported
numpy imported
scipy imported
statsmodels imported
statsmodels.formula imported
statasmodels.stats.api imported

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [2]:
from set_visualization import *

matplotlib imported
pyplot imported
seaborn imported
sns.set
sns.set_style(whitegrid)
sns.set_color_codes()
type (% matplotlib inline) if necessary
type (% config InlineBackend.figure_formats = {‘png’, ‘retina’}) if necessary

# load & merge dataset

In [3]:
sales = pd.read_csv('../../data/basic/train.csv')
key = pd.read_csv('../../data/basic/key.csv')
weather = pd.read_csv('../../data/weather_v8_with_holiday.csv', index_col=0)

In [4]:
print(sales.shape)
sales.head()

(4617600, 4)

         date  store_nbr  item_nbr  units
0  2012-01-01          1         1      0
1  2012-01-01          1         2      0
2  2012-01-01          1         3      0
3  2012-01-01          1         4      0
4  2012-01-01          1         5      0

In [5]:
print(key.shape)
key.head()

(45, 2)

   store_nbr  station_nbr
0          1            1
1          2           14
2          3            7
3          4            9
4          5           12

In [6]:
print(weather.shape)
weather.head()

(20517, 27)

,station_nbr,date,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,...,sealevel,resultspeed,resultdir,avgspeed,codesum_2,year,monthday,days,dayofweek,is_holiday
0,1,2012-01-01,52.0,31.0,42.0,0.0,36.0,40.0,23.0,0.0,...,29.92,3.6,20.0,4.6,"FG,RA,BR",2012,"['01', '01']",1,Sun,holiday
1,1,2012-01-02,50.0,31.0,41.0,0.0,26.0,35.0,24.0,0.0,...,29.62,9.8,24.0,10.3,RA,2012,"['01', '02']",2,Mon,holiday_work
2,1,2012-01-03,32.0,11.0,22.0,0.0,4.0,18.0,43.0,0.0,...,29.87,10.8,31.0,11.6,MO,2012,"['01', '03']",3,Tue,workday
3,1,2012-01-04,28.0,9.0,19.0,0.0,-1.0,14.0,46.0,0.0,...,30.03,6.3,27.0,8.3,MO,2012,"['01', '04']",4,Wed,workday
4,1,2012-01-05,38.0,25.0,32.0,0.0,13.0,25.0,33.0,0.0,...,29.84,6.9,25.0,7.8,MO,2012,"['01', '05']",5,Thi,workday

In [7]:
weather.columns

Index(['station_nbr', 'date', 'tmax', 'tmin', 'tavg', 'depart', 'dewpoint',
       'wetbulb', 'heat', 'cool', 'sunrise', 'sunset', 'codesum', 'codesum_YN',
       'snowfall', 'preciptotal', 'stnpressure', 'sealevel', 'resultspeed',
       'resultdir', 'avgspeed', 'codesum_2', 'year', 'monthday', 'days',
       'dayofweek', 'is_holiday'],
      dtype='object')

In [8]:
sales = pd.merge(sales, key)

In [9]:
df = pd.merge(sales, weather)

In [10]:
print(df.shape)
df.head()

(4617600, 30)

,date,store_nbr,item_nbr,units,station_nbr,tmax,tmin,tavg,depart,dewpoint,...,sealevel,resultspeed,resultdir,avgspeed,codesum_2,year,monthday,days,dayofweek,is_holiday
0,2012-01-01,1,1,0,1,52.0,31.0,42.0,0.0,36.0,...,29.92,3.6,20.0,4.6,"FG,RA,BR",2012,"['01', '01']",1,Sun,holiday
1,2012-01-01,1,2,0,1,52.0,31.0,42.0,0.0,36.0,...,29.92,3.6,20.0,4.6,"FG,RA,BR",2012,"['01', '01']",1,Sun,holiday
2,2012-01-01,1,3,0,1,52.0,31.0,42.0,0.0,36.0,...,29.92,3.6,20.0,4.6,"FG,RA,BR",2012,"['01', '01']",1,Sun,holiday
3,2012-01-01,1,4,0,1,52.0,31.0,42.0,0.0,36.0,...,29.92,3.6,20.0,4.6,"FG,RA,BR",2012,"['01', '01']",1,Sun,holiday
4,2012-01-01,1,5,0,1,52.0,31.0,42.0,0.0,36.0,...,29.92,3.6,20.0,4.6,"FG,RA,BR",2012,"['01', '01']",1,Sun,holiday

In [11]:
df = pd.DataFrame(data=df, columns=['date', 'units', 'store_nbr', 'item_nbr', 'station_nbr', 
                                    'tmax', 'tmin', 'tavg', 'depart', 'dewpoint', 'wetbulb', 
                                    'heat', 'cool', 'sunrise', 'sunset', 'codesum', 'codesum_2', 'codesum_YN', 
                                    'snowfall', 'preciptotal', 'stnpressure', 'sealevel', 'resultspeed', 'resultdir', 'avgspeed',
                                    'year', 'monthday', 'days', 'dayofweek', 'is_holiday'])

### 판매가 이루어진 데이터로 한정

In [12]:
df = df[df['units'] > 0].reset_index(drop=True)

In [13]:
df.shape

(118696, 30)

### 날짜 데이터 encoding

In [14]:
def make_year(date):
    return int(date.split('-')[0])

def make_month(date):
    return int(date.split('-')[1])

def make_day(date):
    return int(date.split('-')[2])

def make_monthday(date):
    return (date.split('-')[1:3])

def dayofweek_num(dayofweek):
    if dayofweek == 'Mon':
        return 1
    elif dayofweek == 'Tue':
        return 2
    elif dayofweek == 'Wed':
        return 3
    elif dayofweek == 'Thi':
        return 4
    elif dayofweek == 'Fri':
        return 5
    elif dayofweek == 'Sat':
        return 6
    elif dayofweek == 'Sun':
        return 7

In [15]:
df['year'] = df['date'].apply(make_year)
df['month'] = df['date'].apply(make_month)
df['day'] = df['date'].apply(make_day)
df['dayofweek'] = df['dayofweek'].apply(dayofweek_num)
df['dayofweek'] = df['dayofweek'].astype(int)

# OLS 모델 생성 카테고리형 독립변수만 고려

In [16]:
df_test = df

In [17]:
df_test.columns

Index(['date', 'units', 'store_nbr', 'item_nbr', 'station_nbr', 'tmax', 'tmin',
       'tavg', 'depart', 'dewpoint', 'wetbulb', 'heat', 'cool', 'sunrise',
       'sunset', 'codesum', 'codesum_2', 'codesum_YN', 'snowfall',
       'preciptotal', 'stnpressure', 'sealevel', 'resultspeed', 'resultdir',
       'avgspeed', 'year', 'monthday', 'days', 'dayofweek', 'is_holiday',
       'month', 'day'],
      dtype='object')

In [19]:
model_1 = sm.OLS.from_formula('units ~ 'tmax', 'tmin',
       'tavg', 'depart', 'dewpoint', 'wetbulb', 'heat', 'cool', 'sunrise',
       'sunset', 'codesum', 'codesum_2', 'codesum_YN', 'snowfall',
       'preciptotal', 'stnpressure', 'sealevel', 'resultspeed', 'resultdir',
       'avgspeed', 'year', 'monthday', 'days', 'dayofweek', 'is_holiday',
       'month', 'day'', data=df_test)
result_1 = model_1.fit()
print(result_1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  units   R-squared:                       0.595
Model:                            OLS   Adj. R-squared:                  0.595
Method:                 Least Squares   F-statistic:                     1089.
Date:                Wed, 14 Mar 2018   Prob (F-statistic):               0.00
Time:                        02:22:15   Log-Likelihood:            -5.7563e+05
No. Observations:              118696   AIC:                         1.152e+06
Df Residuals:                  118535   BIC:                         1.153e+06
Df Model:                         160
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
Intercept             19.1112      2.140      8.930      0.000      14.917      23.306
C(item_nbr)[T.2]     -24.9054      2.260    -11.021      0.000     -29.335     -20.476
C(item_nbr)[T.3]     -50.9616      2.860    -17.820      0.000     -56.567     -45.356
C(item_nbr)[T.4]       0.9711      3.149      0.308      0.758      -5.201       7.144
C(item_nbr)[T.5]      16.2047      1.976      8.203      0.000      12.333      20.077
C(item_nbr)[T.6]     -60.1603      4.905    -12.266      0.000     -69.773     -50.547
C(item_nbr)[T.7]     -45.8527      2.714    -16.894      0.000     -51.172     -40.533
C(item_nbr)[T.8]      -2.6330      2.372     -1.110      0.267      -7.282       2.016
C(item_nbr)[T.9]      19.3678      1.942      9.974      0.000      15.562      23.174
C(item_nbr)[T.10]    -33.8994      2.673    -12.682      0.000     -39.138     -28.660
C(item_nbr)[T.11]    -49.0596      2.706    -18.132      0.000     -54.363     -43.757
C(item_nbr)[T.12]    -58.5647      2.666    -21.965      0.000     -63.791     -53.339
C(item_nbr)[T.13]    -62.8889      2.895    -21.722      0.000     -68.563     -57.214
C(item_nbr)[T.14]    -33.1020      3.205    -10.330      0.000     -39.383     -26.821
C(item_nbr)[T.15]    -23.8196      2.324    -10.250      0.000     -28.375     -19.265
C(item_nbr)[T.16]    -18.2761      2.025     -9.024      0.000     -22.246     -14.307
C(item_nbr)[T.17]    -48.6923      2.590    -18.799      0.000     -53.769     -43.616
C(item_nbr)[T.18]    -54.0472      2.694    -20.065      0.000     -59.326     -48.768
C(item_nbr)[T.19]    -21.4830      2.594     -8.282      0.000     -26.567     -16.399
C(item_nbr)[T.20]    -42.0428      2.530    -16.614      0.000     -47.003     -37.083
C(item_nbr)[T.21]    -34.4629      2.261    -15.241      0.000     -38.895     -30.031
C(item_nbr)[T.22]      1.4006      4.016      0.349      0.727      -6.471       9.273
C(item_nbr)[T.23]    -18.4374      2.195     -8.398      0.000     -22.740     -14.135
C(item_nbr)[T.24]    -31.9320      2.882    -11.081      0.000     -37.580     -26.284
C(item_nbr)[T.25]     56.4846      2.186     25.839      0.000      52.200      60.769
C(item_nbr)[T.26]      3.3699      2.429      1.388      0.165      -1.390       8.130
C(item_nbr)[T.27]    -85.1679      2.381    -35.767      0.000     -89.835     -80.501
C(item_nbr)[T.28]    -12.7054      2.365     -5.372      0.000     -17.341      -8.070
C(item_nbr)[T.29]    -10.4864      2.520     -4.161      0.000     -15.426      -5.547
C(item_nbr)[T.30]     -0.6758      2.174     -0.311      0.756      -4.937       3.586
C(item_nbr)[T.31]    -47.8781      2.677    -17.884      0.000     -53.125     -42.631
C(item_nbr)[T.32]    -42.3802      2.784    -15.221      0.000     -47.837     -36.923
C(item_nbr)[T.33]     15.2107      2.933      5.186      0.000       9.462      20.960
C(item_nbr)[T.34]      1.5103      4.774      0.316      0.752      -7.846      10.867
C(item_nbr)[T.35]    -19.4249      2.640     -7.357      0.000     -24.600     -14.250
C(item_nbr)[T.36]     24.7817      2.187     11.331      0.000      20.495      29.068
C(item_nbr)[T.37]    -31.9924      2.037    -15.709      0.000     -35.984     -28.001
C(item_nbr)[T.38]    -20.7429      2.725     -7.612      0.000     -26.084     -15.402
C(item_nbr)[T.39]    -50.1508      3.229    -15.531      0.000     -56.480     -43.822
C(item_nbr)[T.40]    -16.6408      3.594     -4.630      0.000     -23.686      -9.596
C(item_nbr)[T.41]    -19.7650      2.201     -8.981      0.000     -24.079     -15.451
C(item_nbr)[T.42]    -27.0858      2.504    -10.816      0.000     -31.994     -22.177
C(item_nbr)[T.43]    -54.7716      4.905    -11.167      0.000     -64.385     -45.159
C(item_nbr)[T.44]     80.4399      1.942     41.423      0.000      76.634      84.246
C(item_nbr)[T.45]     30.7188      1.976     15.543      0.000      26.845      34.592
C(item_nbr)[T.46]    -52.0209      2.835    -18.346      0.000     -57.578     -46.463
C(item_nbr)[T.47]     -9.8292      2.780     -3.535      0.000     -15.279      -4.380
C(item_nbr)[T.48]     47.3438      2.516     18.820      0.000      42.413      52.274
C(item_nbr)[T.49]    -49.1376      2.901    -16.939      0.000     -54.823     -43.452
C(item_nbr)[T.50]    -29.2424      2.375    -12.312      0.000     -33.898     -24.587
C(item_nbr)[T.51]    -26.2741      2.372    -11.078      0.000     -30.923     -21.626
C(item_nbr)[T.52]    -50.1366      2.230    -22.487      0.000     -54.507     -45.767
C(item_nbr)[T.53]    -27.0951      2.679    -10.114      0.000     -32.346     -21.844
C(item_nbr)[T.54]    -30.2803      2.699    -11.218      0.000     -35.571     -24.990
C(item_nbr)[T.55]    -30.6055      2.598    -11.780      0.000     -35.698     -25.514
C(item_nbr)[T.56]    -19.0492      2.397     -7.947      0.000     -23.747     -14.351
C(item_nbr)[T.57]    -21.1924      2.904     -7.297      0.000     -26.885     -15.500
C(item_nbr)[T.58]    -20.0336      2.643     -7.581      0.000     -25.213     -14.854
C(item_nbr)[T.59]    -25.4115      2.520    -10.086      0.000     -30.350     -20.473
C(item_nbr)[T.60]   -102.1500      5.009    -20.395      0.000    -111.967     -92.333
C(item_nbr)[T.61]    -39.0725      2.232    -17.509      0.000     -43.446     -34.699
C(item_nbr)[T.62]    -31.8973      2.766    -11.533      0.000     -37.318     -26.477
C(item_nbr)[T.63]    -35.5984      2.833    -12.566      0.000     -41.151     -30.046
C(item_nbr)[T.64]    -68.5989      3.023    -22.694      0.000     -74.523     -62.674
C(item_nbr)[T.65]    -64.7476      2.648    -24.454      0.000     -69.937     -59.558
C(item_nbr)[T.66]    -25.0905      2.441    -10.279      0.000     -29.875     -20.306
C(item_nbr)[T.67]    -32.0969      2.413    -13.304      0.000     -36.826     -27.368
C(item_nbr)[T.68]      6.3818      2.035      3.136      0.002       2.394      10.370
C(item_nbr)[T.69]    -35.8927      2.637    -13.613      0.000     -41.060     -30.725
C(item_nbr)[T.70]     16.2643      3.051      5.331      0.000      10.285      22.244
C(item_nbr)[T.71]   -109.6847      2.814    -38.985      0.000    -115.199    -104.170
C(item_nbr)[T.72]    -21.9471      2.654     -8.269      0.000     -27.149     -16.745
C(item_nbr)[T.73]    -52.0653      2.775    -18.760      0.000     -57.505     -46.626
C(item_nbr)[T.74]    -52.4089      2.783    -18.831      0.000     -57.864     -46.954
C(item_nbr)[T.75]    -36.3579      2.955    -12.305      0.000     -42.149     -30.567
C(item_nbr)[T.76]   -101.9014      5.310    -19.190      0.000    -112.309     -91.494
C(item_nbr)[T.77]    -68.3978      2.851    -23.988      0.000     -73.986     -62.809
C(item_nbr)[T.78]    -28.3406      2.970     -9.543      0.000     -34.161     -22.520
C(item_nbr)[T.79]    -48.4045      2.759    -17.542      0.000     -53.813     -42.996
C(item_nbr)[T.80]    -25.5559      2.863     -8.925      0.000     -31.168     -19.944
C(item_nbr)[T.81]    -47.2257      2.602    -18.149      0.000     -52.326     -42.126
C(item_nbr)[T.82]    -27.6793      2.770     -9.993      0.000     -33.108     -22.250
C(item_nbr)[T.83]    -27.9037      2.423    -11.515      0.000     -32.653     -23.154
C(item_nbr)[T.84]    -41.8908      3.180    -13.174      0.000     -48.123     -35.658
C(item_nbr)[T.85]    -71.9104      3.110    -23.119      0.000     -78.007     -65.814
C(item_nbr)[T.86]    -38.4439      2.421    -15.881      0.000     -43.189     -33.699
C(item_nbr)[T.87]    -26.0897      2.556    -10.206      0.000     -31.100     -21.080
C(item_nbr)[T.88]    -17.7276      3.429     -5.170      0.000     -24.449     -11.007
C(item_nbr)[T.89]    -16.4876      4.137     -3.986      0.000     -24.596      -8.380
C(item_nbr)[T.90]    -95.0763      2.531    -37.561      0.000    -100.037     -90.115
C(item_nbr)[T.91]    -13.6179      2.701     -5.041      0.000     -18.912      -8.323
C(item_nbr)[T.92]   -103.0017      2.681    -38.425      0.000    -108.256     -97.748
C(item_nbr)[T.93]    -36.3965      2.001    -18.191      0.000     -40.318     -32.475
C(item_nbr)[T.94]    -31.5431      2.556    -12.339      0.000     -36.553     -26.533
C(item_nbr)[T.95]     -4.7109      2.647     -1.780      0.075      -9.899       0.477
C(item_nbr)[T.96]    -91.8909      3.811    -24.114      0.000     -99.360     -84.422
C(item_nbr)[T.97]    -90.9991      3.633    -25.045      0.000     -98.121     -83.878
C(item_nbr)[T.98]    -46.8924      2.354    -19.918      0.000     -51.507     -42.278
C(item_nbr)[T.99]    -16.1613      3.088     -5.233      0.000     -22.215     -10.108
C(item_nbr)[T.100]   -24.8125      2.846     -8.720      0.000     -30.390     -19.235
C(item_nbr)[T.101]   -95.5203      2.980    -32.059      0.000    -101.360     -89.681
C(item_nbr)[T.102]   -38.6453      6.640     -5.820      0.000     -51.661     -25.630
C(item_nbr)[T.103]    16.0913      3.354      4.798      0.000       9.518      22.664
C(item_nbr)[T.104]   -32.3078      2.715    -11.899      0.000     -37.630     -26.986
C(item_nbr)[T.105]   -35.1371      2.599    -13.522      0.000     -40.230     -30.044
C(item_nbr)[T.106]   -38.3749      4.192     -9.154      0.000     -46.591     -30.159
C(item_nbr)[T.107]   -32.5921      2.992    -10.894      0.000     -38.456     -26.729
C(item_nbr)[T.108]   -34.5395      2.782    -12.415      0.000     -39.992     -29.087
C(item_nbr)[T.109]   -21.2385      2.357     -9.010      0.000     -25.859     -16.618
C(item_nbr)[T.110]   -17.8903      3.351     -5.339      0.000     -24.458     -11.323
C(item_nbr)[T.111]    17.5096      4.251      4.119      0.000       9.177      25.842
C(store_nbr)[T.2]     32.2386      1.201     26.851      0.000      29.885      34.592
C(store_nbr)[T.3]     22.3333      1.151     19.395      0.000      20.076      24.590
C(store_nbr)[T.4]     78.7532      1.297     60.740      0.000      76.212      81.294
C(store_nbr)[T.5]     25.7862      1.227     21.010      0.000      23.381      28.192
C(store_nbr)[T.6]     16.9625      1.167     14.540      0.000      14.676      19.249
C(store_nbr)[T.7]     29.2389      1.271     23.001      0.000      26.747      31.730
C(store_nbr)[T.8]      8.7454      1.255      6.966      0.000       6.285      11.206
C(store_nbr)[T.9]     17.7142      1.167     15.184      0.000      15.428      20.001
C(store_nbr)[T.10]    29.6925      1.160     25.594      0.000      27.419      31.966
C(store_nbr)[T.11]     9.9713      1.153      8.646      0.000       7.711      12.232
C(store_nbr)[T.12]    32.2704      1.216     26.549      0.000      29.888      34.653
C(store_nbr)[T.13]    36.5183      1.240     29.444      0.000      34.087      38.949
C(store_nbr)[T.14]   -31.9268      1.209    -26.415      0.000     -34.296     -29.558
C(store_nbr)[T.15]    31.6795      1.116     28.379      0.000      29.492      33.867
C(store_nbr)[T.16]    53.3533      1.275     41.852      0.000      50.855      55.852
C(store_nbr)[T.17]    92.1112      1.178     78.223      0.000      89.803      94.419
C(store_nbr)[T.18]     4.8648      1.218      3.992      0.000       2.477       7.253
C(store_nbr)[T.19]    19.4366      1.358     14.309      0.000      16.774      22.099
C(store_nbr)[T.20]    36.8311      1.276     28.861      0.000      34.330      39.332
C(store_nbr)[T.21]    -2.9514      1.203     -2.454      0.014      -5.308      -0.594
C(store_nbr)[T.22]    13.8533      1.145     12.098      0.000      11.609      16.098
C(store_nbr)[T.23]    -6.3550      1.181     -5.381      0.000      -8.670      -4.040
C(store_nbr)[T.24]    85.3560      4.480     19.052      0.000      76.575      94.137
C(store_nbr)[T.25]    41.7060      1.106     37.721      0.000      39.539      43.873
C(store_nbr)[T.26]     6.5769      1.173      5.607      0.000       4.278       8.876
C(store_nbr)[T.27]     8.2927      1.128      7.349      0.000       6.081      10.504
C(store_nbr)[T.28]     3.2571      1.188      2.742      0.006       0.929       5.585
C(store_nbr)[T.29]    17.9887      1.272     14.138      0.000      15.495      20.482
C(store_nbr)[T.30]    47.4718      1.227     38.681      0.000      45.066      49.877
C(store_nbr)[T.31]    25.4512      1.113     22.871      0.000      23.270      27.632
C(store_nbr)[T.32]     4.2575      1.084      3.926      0.000       2.132       6.383
C(store_nbr)[T.33]    87.2246      1.165     74.872      0.000      84.941      89.508
C(store_nbr)[T.34]    30.8294      1.111     27.745      0.000      28.652      33.007
C(store_nbr)[T.35]    22.7825      1.378     16.533      0.000      20.082      25.483
C(store_nbr)[T.36]   -16.0219      1.174    -13.649      0.000     -18.323     -13.721
C(store_nbr)[T.37]     8.7981      1.152      7.637      0.000       6.540      11.056
C(store_nbr)[T.38]    37.6209      1.110     33.900      0.000      35.446      39.796
C(store_nbr)[T.39]   -32.1728      1.280    -25.136      0.000     -34.682     -29.664
C(store_nbr)[T.40]    13.7042      1.126     12.170      0.000      11.497      15.911
C(store_nbr)[T.41]    23.6995      1.173     20.203      0.000      21.400      25.999
C(store_nbr)[T.42]    11.1562      1.212      9.208      0.000       8.782      13.531
C(store_nbr)[T.43]    35.0470      1.240     28.255      0.000      32.616      37.478
C(store_nbr)[T.44]    15.1822      1.184     12.826      0.000      12.862      17.502
C(store_nbr)[T.45]   -17.4160      1.330    -13.093      0.000     -20.023     -14.809
C(dayofweek)[T.2]     -4.4613      0.338    -13.186      0.000      -5.124      -3.798
C(dayofweek)[T.3]     -6.2211      0.338    -18.384      0.000      -6.884      -5.558
C(dayofweek)[T.4]     -6.5388      0.337    -19.375      0.000      -7.200      -5.877
C(dayofweek)[T.5]     -3.1635      0.335     -9.438      0.000      -3.821      -2.507
C(dayofweek)[T.6]      4.0631      0.334     12.174      0.000       3.409       4.717
C(dayofweek)[T.7]      8.9469      0.334     26.764      0.000       8.292       9.602
==============================================================================
Omnibus:                   399343.282   Durbin-Watson:                   1.885
Prob(Omnibus):                  0.000   Jarque-Bera (JB):     474006626650.200
Skew:                          59.808   Prob(JB):                         0.00
Kurtosis:                    9792.204   Cond. No.                         254.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [ ]:
sp.stats.probplot(result_1.resid, plot=plt)
plt.show()

test = sms.omni_normtest(result_1.resid)
for xi in zip(['Chi^2', 'P-value'], test):
    print("%-12s: %6.3f" % xi)

# Outlier 제거

In [ ]:
# 1차
res = result_1.resid_pearson
index = result_1.resid.index
outlier_index = abs(res) >= 2

row = pd.Series(index=index, data=res)
drop_index = row[outlier_index].index

In [ ]:
df_test.drop(list(drop_index),inplace=True)

In [ ]:
model_1 = sm.OLS.from_formula('units ~ C(item_nbr) + C(store_nbr) + C(dayofweek)', data=df_test)
result_1 = model_1.fit()
print(result_1.summary())

In [ ]:
sp.stats.probplot(result_1.resid, plot=plt)
plt.show()

test = sms.omni_normtest(result_1.resid)
for xi in zip(['Chi^2', 'P-value'], test):
    print("%-12s: %6.3f" % xi)

In [ ]:
# 2차
res = result_1.resid_pearson
index = result_1.resid.index
outlier_index = abs(res) >= 2

row = pd.Series(index=index, data=res)
drop_index = row[outlier_index].index

In [ ]:
df_test.drop(list(drop_index),inplace=True)

In [ ]:
model_1 = sm.OLS.from_formula('units ~ C(item_nbr) + C(store_nbr) + C(dayofweek)', data=df_test)
result_1 = model_1.fit()
print(result_1.summary())

In [ ]:
sp.stats.probplot(result_1.resid, plot=plt)
plt.show()

test = sms.omni_normtest(result_1.resid)
for xi in zip(['Chi^2', 'P-value'], test):
    print("%-12s: %6.3f" % xi)

In [ ]:
# 3차
res = result_1.resid_pearson
index = result_1.resid.index
outlier_index = abs(res) >= 2

row = pd.Series(index=index, data=res)
drop_index = row[outlier_index].index

In [ ]:
df_test.drop(list(drop_index),inplace=True)

In [ ]:
model_1 = sm.OLS.from_formula('units ~ C(item_nbr) + C(store_nbr) + C(dayofweek)', data=df_test)
result_1 = model_1.fit()
print(result_1.summary())

In [ ]:
sp.stats.probplot(result_1.resid, plot=plt)
plt.show()

test = sms.omni_normtest(result_1.resid)
for xi in zip(['Chi^2', 'P-value'], test):
    print("%-12s: %6.3f" % xi)

In [ ]:
# 4차
res = result_1.resid_pearson
index = result_1.resid.index
outlier_index = abs(res) >= 2

row = pd.Series(index=index, data=res)
drop_index = row[outlier_index].index

In [ ]:
df_test.drop(list(drop_index),inplace=True)

In [ ]:
model_1 = sm.OLS.from_formula('units ~ C(item_nbr) + C(store_nbr) + C(dayofweek)', data=df_test)
result_1 = model_1.fit()
print(result_1.summary())

In [ ]:
sp.stats.probplot(result_1.resid, plot=plt)
plt.show()

test = sms.omni_normtest(result_1.resid)
for xi in zip(['Chi^2', 'P-value'], test):
    print("%-12s: %6.3f" % xi)

In [ ]:
# 5차
res = result_1.resid_pearson
index = result_1.resid.index
outlier_index = abs(res) >= 2

row = pd.Series(index=index, data=res)
drop_index = row[outlier_index].index

In [ ]:
df_test.drop(list(drop_index),inplace=True)

In [ ]:
model_1 = sm.OLS.from_formula('units ~ C(item_nbr) + C(store_nbr) + C(dayofweek)', data=df_test)
result_1 = model_1.fit()
print(result_1.summary())

In [ ]:
sp.stats.probplot(result_1.resid, plot=plt)
plt.show()

test = sms.omni_normtest(result_1.resid)
for xi in zip(['Chi^2', 'P-value'], test):
    print("%-12s: %6.3f" % xi)

In [ ]:
# 6차 제거
res = result_1.resid_pearson
index = result_1.resid.index
outlier_index = abs(res) >= 2

row = pd.Series(index=index, data=res)
drop_index = row[outlier_index].index

In [ ]:
df_test.drop(list(drop_index),inplace=True)

In [ ]:
model_1 = sm.OLS.from_formula('units ~ C(item_nbr) + C(store_nbr) + C(dayofweek)', data=df_test)
result_1 = model_1.fit()
print(result_1.summary())

In [ ]:
sp.stats.probplot(result_1.resid, plot=plt)
plt.show()

test = sms.omni_normtest(result_1.resid)
for xi in zip(['Chi^2', 'P-value'], test):
    print("%-12s: %6.3f" % xi)

# 정규화 (sci-kit learn)

In [ ]:
from sklearn.datasets import make_regression
from patsy import dmatrices
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet

In [ ]:
# patsy를 통한 formula 생성
y, X = dmatrices( "np.log(units) ~ C(item_nbr) + C(store_nbr) + C(dayofweek)", df_test , return_type = 'dataframe' )

In [ ]:
# y, X, Linear Regression, Ridge, Lasso, ElasticNet
model_LR = LinearRegression().fit(X, y)
model_ridge = Ridge(alpha=0.5).fit(X, y)
model_lasso = Lasso(alpha=0.5).fit(X, y)
model_EN = ElasticNet(alpha=0.5).fit(X, y)

In [ ]:
from sklearn.model_selection import KFold

cv = KFold(10, shuffle=True)
#cross_val_score(model1_LR, X, y, scoring="r2", cv=cv)
print('[Original LR]')
print('score : ', cross_val_score(model_LR, X, y, scoring="r2", cv=cv),'\n',
      'mean : ', np.mean(cross_val_score(model_LR, X, y, scoring="r2", cv=cv)),'\n')

print('[Ridge]')
print('score : ', cross_val_score(model_ridge, X, y, scoring="r2", cv=cv),'\n',
      'mean : ', np.mean(cross_val_score(model_ridge, X, y, scoring="r2", cv=cv)),'\n')
      #'std : ', np.std(cross_val_score(model1_ridge, X, y, scoring="r2", cv=cv)))

print('\n[Lasso]')
print('score : ', cross_val_score(model_lasso, X, y, scoring="r2", cv=cv),'\n',
      'mean : ', np.mean(cross_val_score(model_lasso, X, y, scoring="r2", cv=cv)),'\n')
      #'std : ', np.std(cross_val_score(model1_lasso, X, y, scoring="r2", cv=cv)))

print('\n[Elastic-net]')
print('score : ', cross_val_score(model_EN, X, y, scoring="r2", cv=cv),'\n',
      'mean : ', np.mean(cross_val_score(model_EN, X, y, scoring="r2", cv=cv)),'\n')
#      'std : ', np.std(cross_val_score(model1_EN, X, y, scoring="r2", cv=cv)))

# 모델에 제출하기에 앞선 cross-validation 결과 및 RMSLE 채점 결과

In [ ]:
# RMSLE 구현 / 긁어왔습니다 
from sklearn.metrics import make_scorer
def rmsle(predict, actual):
    predict = np.array(predict)
    actual = np.array(actual)
    
    log_predict = np.log(predict + 1)
    log_actual = np.log(actual + 1)
    
    difference = log_predict - log_actual
    square_difference = difference ** 2
    mean_square_difference = square_difference.mean()
    
    score = np.sqrt(mean_square_difference)
    
    return score

rmsle_score = make_scorer(rmsle)
rmsle_score

In [ ]:
cross_val_score(model_ridge, X, y, cv=10, scoring=rmsle_score).mean()

# 제출을 위한 test파일 준비

### test file preprocessing

In [ ]:
test = pd.read_csv('../../data/basic/test.csv')
print(test.shape)
test.head()

In [ ]:
key = pd.read_csv('../../data/basic/key.csv')
weather = pd.read_csv('../../data/weather_v8_with_holiday.csv')

In [ ]:
test = pd.merge(test, key)

In [ ]:
test = pd.merge(test, weather)

In [ ]:
test.columns

In [ ]:
test = pd.DataFrame(test, columns=['date','dayofweek', 'is_holiday', 'store_nbr', 'item_nbr', 'station_nbr', 'tmax',
       'tmin', 'tavg', 'depart', 'dewpoint', 'wetbulb', 'heat', 'cool',
       'sunrise', 'sunset', 'codesum', 'codesum_YN', 'snowfall', 'preciptotal',
       'stnpressure', 'sealevel', 'resultspeed', 'resultdir', 'avgspeed',
       ])

In [ ]:
test.head()

In [ ]:
def is_holiday(holiday):
    if holiday == 'holiday':
        return 1
    elif holiday == 'holiday_work':
        return 1
    elif holiday == "workday":
        return 0

In [ ]:
test['is_holiday'] = test['is_holiday'].apply(is_holiday)

In [ ]:
test['year'] = test['date'].apply(make_year)
test['month'] = test['date'].apply(make_month)
test['day'] = test['date'].apply(make_day)
test['dayofweek'] = test['dayofweek'].apply(dayofweek_num)

In [ ]:
test_sample = test.drop(columns=['date', 'tmax', 'tmin', 'tavg', 'dewpoint', 'wetbulb',
       'sunrise', 'sunset','depart',  'codesum', 'codesum_YN', 'snowfall',
       'stnpressure', 'sealevel','resultdir', 'avgspeed',
       'station_nbr', 'heat', 'cool', 'preciptotal', 'is_holiday', 'resultspeed'])

In [ ]:
test_sample.head()

In [ ]:
test_X_df = pd.DataFrame(columns=['item_nbr', 'store_nbr','dayofweek', 'year', 'month', 'day'])

for nbr in range(1, 45+1):
    store_nbr = df_test[df_test['store_nbr'].isin([nbr])]
    sold_item_list = list(store_nbr['item_nbr'].unique())
    sold_item_list

    test_store_nbr = test_sample[test_sample['store_nbr'].isin([nbr])]
    to_test_df = test_store_nbr[test_store_nbr['item_nbr'].isin(sold_item_list)]

    test_X_df = pd.concat([test_X_df, to_test_df], axis = 0)
    
test_X_df.shape

In [ ]:
test_X_df.head()

In [ ]:
test_X_df['store_nbr'] = test_X_df['store_nbr'].astype(int)
test_X_df['item_nbr'] = test_X_df['item_nbr'].astype(int)
test_X_df['year'] = test_X_df['year'].astype(int)
test_X_df['month'] = test_X_df['month'].astype(int)
test_X_df['day'] = test_X_df['day'].astype(int)
test_X_df['dayofweek'] = test_X_df['dayofweek'].astype(object)

### Predict

In [ ]:
result_1 = model_1.fit_regularized(alpha=0.5, L1_wt=0)

In [ ]:
test_result = result_1.predict(test_X_df)

### create submission file

In [ ]:
result = pd.concat([test, test_result], axis=1)

In [ ]:
print(result.shape)
result.head()

In [ ]:
result['units'] = result[0]

In [ ]:
def itiszero(units):
    if units > 0:
        return units
    else:
        return 0

In [ ]:
result['units'] = result['units'].apply(itiszero)

In [ ]:
result['units'] = result['units'].astype(int)

In [ ]:
result = pd.DataFrame(data=result, columns=['store_nbr', 'item_nbr', 'date', 'units'])

In [ ]:
for col in result[['store_nbr', 'item_nbr']]:
    result[col] = result[col].astype(int)

In [ ]:
result['id'] = result['store_nbr'].astype(str)+'_'+result['item_nbr'].astype(str)+'_'+result['date'].astype(str)

In [ ]:
for_submission = result.loc[:,['id','units']]

In [ ]:
for_submission.head()

In [ ]:
for_submission.to_csv('submission_sample19.csv', index=False)

### 제출

1차 제출 : fox outlier recommendation 1번 --> submission_sample12.csv --> 0.328

2차 제출 : outlier 제거 1번 --> submission_sample13.csv --> 0.327

3차 제출 : outlier 제거 2번 --> submission_sample14.csv --> 0.313

4차 제출 : outlier 제거 3번 --> submission_sample15.csv --> 0.287

5차 제출 : outlier 제거 4번 --> submission_sample16.csv --> 0.267

6차 제출 : outlier 제거 5번 --> submission_sample17.csv --> 0.277

7차 제출 : outlier 제거 6번 --> submission_sample18.csv --> 0.274

8차 제출 : outlier 제거 6번 + 릿지 정규화 --> submission_sample19.csv --> 0.46

# 이번 시도의 결론, 

- 아웃라이어 제거 6번 이후에는 효과가 미비함
- 정규화의 영향 : 더 안 좋음