In [1]:
from set_math import *

sympy imported
pandas imported
numpy imported
scipy imported
statsmodels imported
statsmodels.formula imported
statasmodels.stats.api imported

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [2]:
from set_visualization import *

matplotlib imported
pyplot imported
seaborn imported
sns.set
sns.set_style(whitegrid)
sns.set_color_codes()
type (% matplotlib inline) if necessary
type (% config InlineBackend.figure_formats = {‘png’, ‘retina’}) if necessary

# load & merge dataset

In [3]:
sales = pd.read_csv('../../data/basic/train.csv')
key = pd.read_csv('../../data/basic/key.csv')
weather = pd.read_csv('../../data/weather_v8_with_holiday.csv', index_col=0)

In [4]:
print(sales.shape)
sales.head()

(4617600, 4)

         date  store_nbr  item_nbr  units
0  2012-01-01          1         1      0
1  2012-01-01          1         2      0
2  2012-01-01          1         3      0
3  2012-01-01          1         4      0
4  2012-01-01          1         5      0

In [5]:
print(key.shape)
key.head()

(45, 2)

   store_nbr  station_nbr
0          1            1
1          2           14
2          3            7
3          4            9
4          5           12

In [6]:
print(weather.shape)
weather.head()

(20517, 27)

,station_nbr,date,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,...,sealevel,resultspeed,resultdir,avgspeed,codesum_2,year,monthday,days,dayofweek,is_holiday
0,1,2012-01-01,52.0,31.0,42.0,0.0,36.0,40.0,23.0,0.0,...,29.92,3.6,20.0,4.6,"FG,RA,BR",2012,"['01', '01']",1,Sun,holiday
1,1,2012-01-02,50.0,31.0,41.0,0.0,26.0,35.0,24.0,0.0,...,29.62,9.8,24.0,10.3,RA,2012,"['01', '02']",2,Mon,holiday_work
2,1,2012-01-03,32.0,11.0,22.0,0.0,4.0,18.0,43.0,0.0,...,29.87,10.8,31.0,11.6,MO,2012,"['01', '03']",3,Tue,workday
3,1,2012-01-04,28.0,9.0,19.0,0.0,-1.0,14.0,46.0,0.0,...,30.03,6.3,27.0,8.3,MO,2012,"['01', '04']",4,Wed,workday
4,1,2012-01-05,38.0,25.0,32.0,0.0,13.0,25.0,33.0,0.0,...,29.84,6.9,25.0,7.8,MO,2012,"['01', '05']",5,Thi,workday

In [7]:
weather.columns

Index(['station_nbr', 'date', 'tmax', 'tmin', 'tavg', 'depart', 'dewpoint',
       'wetbulb', 'heat', 'cool', 'sunrise', 'sunset', 'codesum', 'codesum_YN',
       'snowfall', 'preciptotal', 'stnpressure', 'sealevel', 'resultspeed',
       'resultdir', 'avgspeed', 'codesum_2', 'year', 'monthday', 'days',
       'dayofweek', 'is_holiday'],
      dtype='object')

In [8]:
sales = pd.merge(sales, key)

In [9]:
df = pd.merge(sales, weather)

In [10]:
print(df.shape)
df.head()

(4617600, 30)

,date,store_nbr,item_nbr,units,station_nbr,tmax,tmin,tavg,depart,dewpoint,...,sealevel,resultspeed,resultdir,avgspeed,codesum_2,year,monthday,days,dayofweek,is_holiday
0,2012-01-01,1,1,0,1,52.0,31.0,42.0,0.0,36.0,...,29.92,3.6,20.0,4.6,"FG,RA,BR",2012,"['01', '01']",1,Sun,holiday
1,2012-01-01,1,2,0,1,52.0,31.0,42.0,0.0,36.0,...,29.92,3.6,20.0,4.6,"FG,RA,BR",2012,"['01', '01']",1,Sun,holiday
2,2012-01-01,1,3,0,1,52.0,31.0,42.0,0.0,36.0,...,29.92,3.6,20.0,4.6,"FG,RA,BR",2012,"['01', '01']",1,Sun,holiday
3,2012-01-01,1,4,0,1,52.0,31.0,42.0,0.0,36.0,...,29.92,3.6,20.0,4.6,"FG,RA,BR",2012,"['01', '01']",1,Sun,holiday
4,2012-01-01,1,5,0,1,52.0,31.0,42.0,0.0,36.0,...,29.92,3.6,20.0,4.6,"FG,RA,BR",2012,"['01', '01']",1,Sun,holiday

In [11]:
df = pd.DataFrame(data=df, columns=['date', 'units', 'store_nbr', 'item_nbr', 'station_nbr', 
                                    'tmax', 'tmin', 'tavg', 'depart', 'dewpoint', 'wetbulb', 
                                    'heat', 'cool', 'sunrise', 'sunset', 'codesum', 'codesum_2', 'codesum_YN', 
                                    'snowfall', 'preciptotal', 'stnpressure', 'sealevel', 'resultspeed', 'resultdir', 'avgspeed',
                                    'year', 'monthday', 'days', 'dayofweek', 'is_holiday'])

### 판매가 이루어진 데이터로 한정

In [12]:
# df = df[df['units'] > 0].reset_index(drop=True)

In [12]:
# df.shape

### 날짜 데이터 encoding

In [13]:
def make_year(date):
    return int(date.split('-')[0])

def make_month(date):
    return int(date.split('-')[1])

def make_day(date):
    return int(date.split('-')[2])

def make_monthday(date):
    return (date.split('-')[1:3])

def dayofweek_num(dayofweek):
    if dayofweek == 'Mon':
        return 1
    elif dayofweek == 'Tue':
        return 2
    elif dayofweek == 'Wed':
        return 3
    elif dayofweek == 'Thi':
        return 4
    elif dayofweek == 'Fri':
        return 5
    elif dayofweek == 'Sat':
        return 6
    elif dayofweek == 'Sun':
        return 7

In [14]:
df['year'] = df['date'].apply(make_year)
df['month'] = df['date'].apply(make_month)
df['day'] = df['date'].apply(make_day)
df['dayofweek'] = df['dayofweek'].apply(dayofweek_num)
df['dayofweek'] = df['dayofweek'].astype(int)

# OLS 모델 생성 카테고리형 독립변수만 고려

In [15]:
df_test = df

In [16]:
df_test.columns

Index(['date', 'units', 'store_nbr', 'item_nbr', 'station_nbr', 'tmax', 'tmin',
       'tavg', 'depart', 'dewpoint', 'wetbulb', 'heat', 'cool', 'sunrise',
       'sunset', 'codesum', 'codesum_2', 'codesum_YN', 'snowfall',
       'preciptotal', 'stnpressure', 'sealevel', 'resultspeed', 'resultdir',
       'avgspeed', 'year', 'monthday', 'days', 'dayofweek', 'is_holiday',
       'month', 'day'],
      dtype='object')

In [ ]:
model_1 = sm.OLS.from_formula('units ~ C(item_nbr) + C(store_nbr) + C(dayofweek)', data=df_test)
result_1 = model_1.fit()
print(result_1.summary())

In [ ]:
sp.stats.probplot(result_1.resid, plot=plt)
plt.show()

test = sms.omni_normtest(result_1.resid)
for xi in zip(['Chi^2', 'P-value'], test):
    print("%-12s: %6.3f" % xi)

# Outlier 제거

In [ ]:
# 1차
res = result_1.resid_pearson
index = result_1.resid.index
outlier_index = abs(res) >= 2

row = pd.Series(index=index, data=res)
drop_index = row[outlier_index].index

In [ ]:
df_test.drop(list(drop_index),inplace=True)

In [ ]:
model_1 = sm.OLS.from_formula('units ~ C(item_nbr) + C(store_nbr) + C(dayofweek)', data=df_test)
result_1 = model_1.fit()
print(result_1.summary())

In [ ]:
sp.stats.probplot(result_1.resid, plot=plt)
plt.show()

test = sms.omni_normtest(result_1.resid)
for xi in zip(['Chi^2', 'P-value'], test):
    print("%-12s: %6.3f" % xi)

In [ ]:
# 2차
res = result_1.resid_pearson
index = result_1.resid.index
outlier_index = abs(res) >= 2

row = pd.Series(index=index, data=res)
drop_index = row[outlier_index].index

In [ ]:
df_test.drop(list(drop_index),inplace=True)

In [ ]:
model_1 = sm.OLS.from_formula('units ~ C(item_nbr) + C(store_nbr) + C(dayofweek)', data=df_test)
result_1 = model_1.fit()
print(result_1.summary())

In [ ]:
sp.stats.probplot(result_1.resid, plot=plt)
plt.show()

test = sms.omni_normtest(result_1.resid)
for xi in zip(['Chi^2', 'P-value'], test):
    print("%-12s: %6.3f" % xi)

In [ ]:
# 3차
res = result_1.resid_pearson
index = result_1.resid.index
outlier_index = abs(res) >= 2

row = pd.Series(index=index, data=res)
drop_index = row[outlier_index].index

In [ ]:
df_test.drop(list(drop_index),inplace=True)

In [ ]:
model_1 = sm.OLS.from_formula('units ~ C(item_nbr) + C(store_nbr) + C(dayofweek)', data=df_test)
result_1 = model_1.fit()
print(result_1.summary())

In [ ]:
sp.stats.probplot(result_1.resid, plot=plt)
plt.show()

test = sms.omni_normtest(result_1.resid)
for xi in zip(['Chi^2', 'P-value'], test):
    print("%-12s: %6.3f" % xi)

In [ ]:
# 4차
res = result_1.resid_pearson
index = result_1.resid.index
outlier_index = abs(res) >= 2

row = pd.Series(index=index, data=res)
drop_index = row[outlier_index].index

In [ ]:
df_test.drop(list(drop_index),inplace=True)

In [ ]:
model_1 = sm.OLS.from_formula('units ~ C(item_nbr) + C(store_nbr) + C(dayofweek)', data=df_test)
result_1 = model_1.fit()
print(result_1.summary())

In [ ]:
sp.stats.probplot(result_1.resid, plot=plt)
plt.show()

test = sms.omni_normtest(result_1.resid)
for xi in zip(['Chi^2', 'P-value'], test):
    print("%-12s: %6.3f" % xi)

In [ ]:
# 5차
res = result_1.resid_pearson
index = result_1.resid.index
outlier_index = abs(res) >= 2

row = pd.Series(index=index, data=res)
drop_index = row[outlier_index].index

In [ ]:
df_test.drop(list(drop_index),inplace=True)

In [ ]:
model_1 = sm.OLS.from_formula('units ~ C(item_nbr) + C(store_nbr) + C(dayofweek)', data=df_test)
result_1 = model_1.fit()
print(result_1.summary())

In [ ]:
sp.stats.probplot(result_1.resid, plot=plt)
plt.show()

test = sms.omni_normtest(result_1.resid)
for xi in zip(['Chi^2', 'P-value'], test):
    print("%-12s: %6.3f" % xi)

In [ ]:
# 6차 제거
res = result_1.resid_pearson
index = result_1.resid.index
outlier_index = abs(res) >= 2

row = pd.Series(index=index, data=res)
drop_index = row[outlier_index].index

In [ ]:
df_test.drop(list(drop_index),inplace=True)

In [ ]:
model_1 = sm.OLS.from_formula('units ~ C(item_nbr) + C(store_nbr) + C(dayofweek)', data=df_test)
result_1 = model_1.fit()
print(result_1.summary())

In [ ]:
sp.stats.probplot(result_1.resid, plot=plt)
plt.show()

test = sms.omni_normtest(result_1.resid)
for xi in zip(['Chi^2', 'P-value'], test):
    print("%-12s: %6.3f" % xi)

# 정규화 (sci-kit learn)

In [ ]:
from sklearn.datasets import make_regression
from patsy import dmatrices
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet

In [ ]:
# patsy를 통한 formula 생성
y, X = dmatrices( "np.log(units) ~ C(item_nbr) + C(store_nbr) + C(dayofweek)", df_test , return_type = 'dataframe' )

In [ ]:
# y, X, Linear Regression, Ridge, Lasso, ElasticNet
model_LR = LinearRegression().fit(X, y)
model_ridge = Ridge(alpha=0.5).fit(X, y)
model_lasso = Lasso(alpha=0.5).fit(X, y)
model_EN = ElasticNet(alpha=0.5).fit(X, y)

In [ ]:
from sklearn.model_selection import KFold

cv = KFold(10, shuffle=True)
#cross_val_score(model1_LR, X, y, scoring="r2", cv=cv)
print('[Original LR]')
print('score : ', cross_val_score(model_LR, X, y, scoring="r2", cv=cv),'\n',
      'mean : ', np.mean(cross_val_score(model_LR, X, y, scoring="r2", cv=cv)),'\n')

print('[Ridge]')
print('score : ', cross_val_score(model_ridge, X, y, scoring="r2", cv=cv),'\n',
      'mean : ', np.mean(cross_val_score(model_ridge, X, y, scoring="r2", cv=cv)),'\n')
      #'std : ', np.std(cross_val_score(model1_ridge, X, y, scoring="r2", cv=cv)))

print('\n[Lasso]')
print('score : ', cross_val_score(model_lasso, X, y, scoring="r2", cv=cv),'\n',
      'mean : ', np.mean(cross_val_score(model_lasso, X, y, scoring="r2", cv=cv)),'\n')
      #'std : ', np.std(cross_val_score(model1_lasso, X, y, scoring="r2", cv=cv)))

print('\n[Elastic-net]')
print('score : ', cross_val_score(model_EN, X, y, scoring="r2", cv=cv),'\n',
      'mean : ', np.mean(cross_val_score(model_EN, X, y, scoring="r2", cv=cv)),'\n')
#      'std : ', np.std(cross_val_score(model1_EN, X, y, scoring="r2", cv=cv)))

# 모델에 제출하기에 앞선 cross-validation 결과 및 RMSLE 채점 결과

In [ ]:
# RMSLE 구현 / 긁어왔습니다 
from sklearn.metrics import make_scorer
def rmsle(predict, actual):
    predict = np.array(predict)
    actual = np.array(actual)
    
    log_predict = np.log(predict + 1)
    log_actual = np.log(actual + 1)
    
    difference = log_predict - log_actual
    square_difference = difference ** 2
    mean_square_difference = square_difference.mean()
    
    score = np.sqrt(mean_square_difference)
    
    return score

rmsle_score = make_scorer(rmsle)
rmsle_score

In [ ]:
cross_val_score(model_ridge, X, y, cv=10, scoring=rmsle_score).mean()

# 제출을 위한 test파일 준비

### test file preprocessing

In [ ]:
test = pd.read_csv('../../data/basic/test.csv')
print(test.shape)
test.head()

In [ ]:
key = pd.read_csv('../../data/basic/key.csv')
weather = pd.read_csv('../../data/weather_v8_with_holiday.csv')

In [ ]:
test = pd.merge(test, key)

In [ ]:
test = pd.merge(test, weather)

In [ ]:
test.columns

In [ ]:
test = pd.DataFrame(test, columns=['date','dayofweek', 'is_holiday', 'store_nbr', 'item_nbr', 'station_nbr', 'tmax',
       'tmin', 'tavg', 'depart', 'dewpoint', 'wetbulb', 'heat', 'cool',
       'sunrise', 'sunset', 'codesum', 'codesum_YN', 'snowfall', 'preciptotal',
       'stnpressure', 'sealevel', 'resultspeed', 'resultdir', 'avgspeed',
       ])

In [ ]:
test.head()

In [ ]:
def is_holiday(holiday):
    if holiday == 'holiday':
        return 1
    elif holiday == 'holiday_work':
        return 1
    elif holiday == "workday":
        return 0

In [ ]:
test['is_holiday'] = test['is_holiday'].apply(is_holiday)

In [ ]:
test['year'] = test['date'].apply(make_year)
test['month'] = test['date'].apply(make_month)
test['day'] = test['date'].apply(make_day)
test['dayofweek'] = test['dayofweek'].apply(dayofweek_num)

In [ ]:
test_sample = test.drop(columns=['date', 'tmax', 'tmin', 'tavg', 'dewpoint', 'wetbulb',
       'sunrise', 'sunset','depart',  'codesum', 'codesum_YN', 'snowfall',
       'stnpressure', 'sealevel','resultdir', 'avgspeed',
       'station_nbr', 'heat', 'cool', 'preciptotal', 'is_holiday', 'resultspeed'])

In [ ]:
test_sample.head()

In [ ]:
test_X_df = pd.DataFrame(columns=['item_nbr', 'store_nbr','dayofweek', 'year', 'month', 'day'])

for nbr in range(1, 45+1):
    store_nbr = df_test[df_test['store_nbr'].isin([nbr])]
    sold_item_list = list(store_nbr['item_nbr'].unique())
    sold_item_list

    test_store_nbr = test_sample[test_sample['store_nbr'].isin([nbr])]
    to_test_df = test_store_nbr[test_store_nbr['item_nbr'].isin(sold_item_list)]

    test_X_df = pd.concat([test_X_df, to_test_df], axis = 0)
    
test_X_df.shape

In [ ]:
test_X_df.head()

In [ ]:
test_X_df['store_nbr'] = test_X_df['store_nbr'].astype(int)
test_X_df['item_nbr'] = test_X_df['item_nbr'].astype(int)
test_X_df['year'] = test_X_df['year'].astype(int)
test_X_df['month'] = test_X_df['month'].astype(int)
test_X_df['day'] = test_X_df['day'].astype(int)
test_X_df['dayofweek'] = test_X_df['dayofweek'].astype(object)

### Predict

In [ ]:
result_1 = model_1.fit_regularized(alpha=0.5, L1_wt=0)

In [ ]:
test_result = result_1.predict(test_X_df)

### create submission file

In [ ]:
result = pd.concat([test, test_result], axis=1)

In [ ]:
print(result.shape)
result.head()

In [ ]:
result['units'] = result[0]

In [ ]:
def itiszero(units):
    if units > 0:
        return units
    else:
        return 0

In [ ]:
result['units'] = result['units'].apply(itiszero)

In [ ]:
result['units'] = result['units'].astype(int)

In [ ]:
result = pd.DataFrame(data=result, columns=['store_nbr', 'item_nbr', 'date', 'units'])

In [ ]:
for col in result[['store_nbr', 'item_nbr']]:
    result[col] = result[col].astype(int)

In [ ]:
result['id'] = result['store_nbr'].astype(str)+'_'+result['item_nbr'].astype(str)+'_'+result['date'].astype(str)

In [ ]:
for_submission = result.loc[:,['id','units']]

In [ ]:
for_submission.head()

In [ ]:
for_submission.to_csv('submission_sample19.csv', index=False)

### 제출

1차 제출 : fox outlier recommendation 1번 --> submission_sample12.csv --> 0.328

2차 제출 : outlier 제거 1번 --> submission_sample13.csv --> 0.327

3차 제출 : outlier 제거 2번 --> submission_sample14.csv --> 0.313

4차 제출 : outlier 제거 3번 --> submission_sample15.csv --> 0.287

5차 제출 : outlier 제거 4번 --> submission_sample16.csv --> 0.267

6차 제출 : outlier 제거 5번 --> submission_sample17.csv --> 0.277

7차 제출 : outlier 제거 6번 --> submission_sample18.csv --> 0.274

8차 제출 : outlier 제거 6번 + 릿지 정규화 --> submission_sample19.csv --> 0.46

# 이번 시도의 결론, 

- 아웃라이어 제거 6번 이후에는 효과가 미비함
- 정규화의 영향 : 더 안 좋음