In [1]:
import set_math

success import scipy
success import pandas
success import numpy
success import sympy
success import matplotlib.pyplot
Hangul OK in your MAC !!!

In [2]:
data = pd.read_csv('../data/05. data_sample_V3', index_col = 0)

In [5]:
data[data['units'] > 3000]

,date,station_nbr,store_nbr,item_nbr,units,depart,codesum,dayofweek,is_holiday
42763,2012-11-15,13,37,5,5568,M,,Thi,workday
84317,2013-11-21,13,37,5,3369,M,SN BR,Thi,workday

In [6]:
data.drop(42763, inplace = True)

In [7]:
data.drop(84317, inplace= True)

In [8]:
data[data['units'] > 3000]

Empty DataFrame
Columns: [date, station_nbr, store_nbr, item_nbr, units, depart, codesum, dayofweek, is_holiday]
Index: []

In [18]:
data = data.reset_index(drop = True)

In [19]:
data.to_csv('../data/05. data_sample_V3', sep = ',')

In [29]:
data = pd.read_csv('../data/05. data_sample_V3', index_col = 0)
data.tail()

,date,station_nbr,store_nbr,item_nbr,units,depart,codesum,dayofweek,is_holiday
118689,2014-10-31,19,30,16,19,-6,RA SN,Fri,workday
118690,2014-10-31,19,30,44,69,-6,RA SN,Fri,workday
118691,2014-10-31,19,30,65,1,-6,RA SN,Fri,workday
118692,2014-10-31,20,17,9,24,M,,Fri,workday
118693,2014-10-31,20,17,37,25,M,,Fri,workday