In [1]:
weather = pd.read_csv('../data/weather.csv', index_col = 0)

In [2]:
weather = weather.reset_index()

In [3]:
data = pd.DataFrame(weather, columns=['date', 'codesum'])

In [4]:
data.tail()

             date codesum
20512  2014-10-31
20513  2014-10-31      RA
20514  2014-10-31
20515  2014-10-31   RA SN
20516  2014-10-31

In [5]:
data['count'] = 1

In [6]:
data.head()

         date     codesum  count
0  2012-01-01  RA FZFG BR      1
1  2012-01-01          RA      1
2  2012-01-01                  1
3  2012-01-01                  1
4  2012-01-01                  1

In [7]:
data['codesum'].loc[2]

' '

In [8]:
def fill_value_codesum(codesum):
    if codesum == " ":
        return "MO"
    else:
        return codesum

In [9]:
data['codesum'] = data['codesum'].apply(fill_value_codesum)

In [10]:
data.tail()

             date codesum  count
20512  2014-10-31      MO      1
20513  2014-10-31      RA      1
20514  2014-10-31      MO      1
20515  2014-10-31   RA SN      1
20516  2014-10-31      MO      1

In [11]:
def ch_codesum(codesum):
    result = ""
    
    codesum = codesum.replace(" ","")
    codesum = codesum.replace("+","")
    
    for s in range(0,len(codesum)):
        if s % 2 == 0 and s != 0:
            result += ',' + codesum[s]
        else:
            result += codesum[s]
    return result

In [12]:
data['codesum'] = data['codesum'].apply(ch_codesum)

In [18]:
from collections import Counter

In [25]:
tmp_list = list(data['codesum'])

In [34]:
tmp_list[0].split(',')

['RA', 'FZ', 'FG', 'BR']

In [35]:
counts = []
for i in tmp_list:
    i = i.split(',')
    for j in i:
        counts.append(j)

In [51]:
counts_codesum_set = dict(Counter(tmp_list))

In [85]:
counts_codesum_set

{'BC,FG': 16,
 'BC,FG,BR': 36,
 'BC,FG,BR,HZ': 7,
 'BC,FG,HZ': 1,
 'BL,DU': 8,
 'BL,SN': 2,
 'BR': 1431,
 'BR,DU': 1,
 'BR,FU': 3,
 'BR,HZ': 400,
 'BR,HZ,BL,DU': 2,
 'BR,HZ,DU': 1,
 'BR,HZ,DU,SQ': 1,
 'BR,HZ,FU': 3,
 'BR,HZ,VC,TS': 5,
 'BR,SQ': 1,
 'BR,UP': 2,
 'BR,UP,HZ': 3,
 'BR,VC,FG': 2,
 'BR,VC,TS': 15,
 'DU': 5,
 'DZ': 13,
 'DZ,BR': 43,
 'DZ,BR,HZ': 23,
 'DZ,BR,HZ,VC,TS': 1,
 'DZ,BR,VC,TS': 1,
 'DZ,FG': 1,
 'DZ,FG,BC,FG,BR': 3,
 'DZ,FG,BR': 15,
 'DZ,FG,BR,HZ': 7,
 'DZ,FG,FG,BR': 9,
 'DZ,FG,FG,FZ,FG,BR': 1,
 'DZ,FG,FG,HZ': 1,
 'DZ,FZ,DZ,BR': 2,
 'DZ,FZ,DZ,BR,HZ': 1,
 'DZ,FZ,DZ,SN,BR': 1,
 'DZ,FZ,RA': 1,
 'DZ,FZ,RA,FZ,DZ,SN,BR': 1,
 'DZ,HZ': 9,
 'DZ,MI,FG,BR': 1,
 'DZ,SN': 2,
 'DZ,SN,BR': 4,
 'DZ,SN,BR,HZ': 3,
 'DZ,SN,FG,BR': 1,
 'DZ,SN,FG,FG,BR,UP': 1,
 'DZ,SN,FG,FZ,FG,BR': 1,
 'FG': 29,
 'FG,BC,FG,BR': 13,
 'FG,BC,FG,BR,HZ': 2,
 'FG,BR': 240,
 'FG,BR,HZ': 39,
 'FG,BR,VC,TS': 1,
 'FG,FG': 13,
 'FG,FG,BC,FG,BR': 5,
 'FG,FG,BR': 114,
 'FG,FG,BR,HZ': 19,
 'FG,FG,BR,VC,TS': 1,
 'FG,FG,FZ,FG,BR': 5,
 'FG,FG,FZ,FG,BR,HZ': 1,
 'FG,FG,MI,FG,BR': 2,
 'FG,FZ,FG': 1,
 'FG,FZ,FG,BC,FG': 1,
 'FG,FZ,FG,BR': 18,
 'FG,FZ,FG,BR,HZ': 4,
 'FG,FZ,FG,BR,UP,HZ': 2,
 'FG,MI,FG,BR': 5,
 'FU': 16,
 'FZ,DZ': 2,
 'FZ,DZ,BR': 3,
 'FZ,DZ,BR,HZ': 1,
 'FZ,DZ,FG,BR,HZ': 1,
 'FZ,DZ,SN,BL,SN': 1,
 'FZ,DZ,SN,BR': 7,
 'FZ,DZ,SN,FZ,FG,BR': 1,
 'FZ,FG': 2,
 'FZ,FG,BR': 5,
 'FZ,FG,BR,HZ': 1,
 'FZ,RA': 2,
 'FZ,RA,BR': 8,
 'FZ,RA,BR,HZ': 5,
 'FZ,RA,BR,UP': 3,
 'FZ,RA,BR,UP,HZ': 3,
 'FZ,RA,FG,FG,FZ,FG,BR,UP': 1,
 'FZ,RA,FG,FZ,FG,BR': 1,
 'FZ,RA,FG,FZ,FG,BR,HZ': 1,
 'FZ,RA,FG,FZ,FG,UP': 1,
 'FZ,RA,FZ,DZ,BR': 1,
 'FZ,RA,FZ,DZ,SN,BR': 2,
 'FZ,RA,PL': 2,
 'FZ,RA,PL,BR,HZ': 1,
 'FZ,RA,SN,BR': 4,
 'FZ,RA,SN,BR,UP': 6,
 'FZ,RA,SN,BR,UP,HZ': 1,
 'FZ,RA,SN,FG,BR': 2,
 'FZ,RA,SN,FG,FZ,FG,BR': 2,
 'FZ,RA,SN,FG,FZ,FG,BR,HZ': 1,
 'FZ,RA,SN,FG,FZ,FG,BR,UP': 4,
 'FZ,RA,SN,FZ,FG,BR': 4,
 'FZ,RA,SN,FZ,FG,BR,UP': 1,
 'FZ,RA,SN,FZ,FG,BR,UP,BL,SN': 1,
 'FZ,RA,SN,FZ,FG,BR,UP,HZ': 1,
 'FZ,RA,SN,UP': 1,
 'FZ,RA,SN,UP,HZ': 2,
 'FZ,RA,SN,VC,TS': 1,
 'FZ,RA,UP': 1,
 'GS,BR,HZ': 1,
 'HZ': 365,
 'HZ,BL,DU': 1,
 'HZ,DU': 5,
 'HZ,FU': 4,
 'HZ,VC,TS': 5,
 'MI,FG': 17,
 'MI,FG,BC,FG,BR': 1,
 'MI,FG,BR': 12,
 'MI,FG,BR,HZ': 1,
 'MI,FG,FU': 1,
 'MO': 11051,
 'PL': 3,
 'PR,FG,BC,FG,BR,HZ': 1,
 'RA': 1281,
 'RA,BC,FG,BR': 9,
 'RA,BC,FG,BR,HZ': 1,
 'RA,BL,DU,SQ': 1,
 'RA,BR': 1476,
 'RA,BR,FU': 1,
 'RA,BR,HZ': 147,
 'RA,BR,HZ,VC,TS': 20,
 'RA,BR,UP': 11,
 'RA,BR,UP,HZ': 1,
 'RA,BR,VC,TS': 111,
 'RA,DU': 1,
 'RA,DZ': 27,
 'RA,DZ,BC,FG,BR': 2,
 'RA,DZ,BR': 126,
 'RA,DZ,BR,HZ': 21,
 'RA,DZ,BR,HZ,VC,TS': 1,
 'RA,DZ,BR,UP': 2,
 'RA,DZ,BR,UP,HZ': 1,
 'RA,DZ,BR,VC,TS': 4,
 'RA,DZ,FG,BC,FG,BR': 2,
 'RA,DZ,FG,BR': 9,
 'RA,DZ,FG,BR,HZ': 3,
 'RA,DZ,FG,FG,BR': 4,
 'RA,DZ,FG,FG,BR,HZ': 1,
 'RA,DZ,FG,FG,BR,HZ,VC,TS': 1,
 'RA,DZ,FG,MI,FG,BR,HZ': 1,
 'RA,DZ,FZ,DZ,BR': 1,
 'RA,DZ,FZ,DZ,FG,BR': 1,
 'RA,DZ,FZ,DZ,SN,PL,BR': 1,
 'RA,DZ,FZ,RA,BR,HZ': 1,
 'RA,DZ,FZ,RA,FZ,DZ,BR': 2,
 'RA,DZ,FZ,RA,FZ,DZ,SN,FG,FG,BR,HZ': 1,
 'RA,DZ,HZ': 11,
 'RA,DZ,HZ,VC,TS': 3,
 'RA,DZ,SN': 3,
 'RA,DZ,SN,BR': 15,
 'RA,DZ,SN,BR,HZ': 2,
 'RA,DZ,SN,BR,UP': 1,
 'RA,DZ,SN,FG,BR': 4,
 'RA,DZ,SN,FG,FZ,FG,BR': 1,
 'RA,DZ,SN,HZ': 1,
 'RA,DZ,SN,VC,TS': 1,
 'RA,DZ,UP': 1,
 'RA,DZ,VC,TS': 15,
 'RA,FG': 3,
 'RA,FG,BC,FG,BR': 3,
 'RA,FG,BC,FG,BR,HZ': 1,
 'RA,FG,BR': 166,
 'RA,FG,BR,HZ': 15,
 'RA,FG,BR,HZ,SQ': 1,
 'RA,FG,BR,HZ,VC,TS': 3,
 'RA,FG,BR,UP': 3,
 'RA,FG,BR,VC,TS': 10,
 'RA,FG,FG': 1,
 'RA,FG,FG,BC,FG,BR': 1,
 'RA,FG,FG,BR': 85,
 'RA,FG,FG,BR,HZ': 4,
 'RA,FG,FG,BR,HZ,VC,TS': 1,
 'RA,FG,FG,BR,UP': 7,
 'RA,FG,FG,BR,VC,TS': 6,
 'RA,FG,FG,FZ,FG,BR,HZ': 1,
 'RA,FG,FG,MI,FG,BR': 2,
 'RA,FG,FZ,FG,BR': 3,
 'RA,FG,FZ,FG,BR,HZ': 1,
 'RA,FG,FZ,FG,BR,UP': 2,
 'RA,FG,MI,FG,BR': 1,
 'RA,FZ,FG,BR': 1,
 'RA,FZ,FG,BR,HZ': 1,
 'RA,FZ,RA': 1,
 'RA,FZ,RA,BR': 6,
 'RA,FZ,RA,BR,HZ': 1,
 'RA,FZ,RA,BR,UP': 4,
 'RA,FZ,RA,BR,UP,HZ': 1,
 'RA,FZ,RA,BR,VC,TS': 1,
 'RA,FZ,RA,FG,BR': 1,
 'RA,FZ,RA,FG,BR,HZ': 1,
 'RA,FZ,RA,FG,FG,BR': 1,
 'RA,FZ,RA,FG,FG,BR,HZ': 1,
 'RA,FZ,RA,FG,FG,BR,UP': 2,
 'RA,FZ,RA,FG,FG,FZ,FG,BR': 1,
 'RA,FZ,RA,FG,FG,FZ,FG,BR,UP': 3,
 'RA,FZ,RA,FG,FZ,FG,BR,UP': 1,
 'RA,FZ,RA,FZ,DZ,PL,BR': 1,
 'RA,FZ,RA,PL,BR': 1,
 'RA,FZ,RA,SN,BR': 3,
 'RA,FZ,RA,SN,BR,HZ': 3,
 'RA,FZ,RA,SN,BR,UP': 5,
 'RA,FZ,RA,SN,BR,UP,HZ': 3,
 'RA,FZ,RA,SN,FG,BR,UP': 1,
 'RA,FZ,RA,SN,FG,BR,UP,HZ,VC,TS': 1,
 'RA,FZ,RA,SN,FG,FG,FZ,FG,BR': 2,
 'RA,FZ,RA,SN,FG,FG,FZ,FG,BR,UP': 1,
 'RA,FZ,RA,SN,FZ,FG,BR,UP': 1,
 'RA,FZ,RA,SN,UP': 1,
 'RA,FZ,RA,UP': 1,
 'RA,HZ': 39,
 'RA,HZ,VC,TS': 2,
 'RA,MI,FG': 3,
 'RA,MI,FG,BC,FG,BR': 1,
 'RA,MI,FG,BR': 2,
 'RA,PL': 1,
 'RA,PL,BR': 2,
 'RA,PL,HZ': 1,
 'RA,SN': 10,
 'RA,SN,BR': 69,
 'RA,SN,BR,HZ': 13,
 'RA,SN,BR,HZ,BL,SN': 1,
 'RA,SN,BR,UP': 20,
 'RA,SN,BR,UP,HZ': 3,
 'RA,SN,BR,VC,TS': 2,
 'RA,SN,FG': 1,
 'RA,SN,FG,BR': 8,
 'RA,SN,FG,BR,UP': 7,
 'RA,SN,FG,FG,BR': 6,
 'RA,SN,FG,FG,BR,HZ': 1,
 'RA,SN,FG,FG,BR,UP': 2,
 'RA,SN,FG,FG,FZ,FG,BR': 2,
 'RA,SN,FG,FG,FZ,FG,BR,UP': 2,
 'RA,SN,FG,FZ,FG,BR': 5,
 'RA,SN,FG,FZ,FG,BR,HZ': 1,
 'RA,SN,FG,FZ,FG,BR,UP': 1,
 'RA,SN,FZ,FG,BR': 2,
 'RA,SN,PL,BR,HZ': 1,
 'RA,SN,PL,FG,BR': 1,
 'RA,SN,UP': 1,
 'RA,UP': 1,
 'RA,VC,TS': 75,
 'SG': 1,
 'SN': 198,
 'SN,BL,SN': 8,
 'SN,BR': 244,
 'SN,BR,BL,SN': 5,
 'SN,BR,BL,SN,BL,DU': 1,
 'SN,BR,HZ': 57,
 'SN,BR,HZ,BL,SN': 5,
 'SN,BR,UP': 21,
 'SN,BR,UP,BL,SN': 2,
 'SN,BR,UP,HZ': 4,
 'SN,FG,BR': 2,
 'SN,FG,BR,HZ': 1,
 'SN,FG,BR,UP': 1,
 'SN,FG,FG,BR': 4,
 'SN,FG,FG,BR,HZ': 1,
 'SN,FG,FG,FZ,FG,BR': 4,
 'SN,FG,FG,FZ,FG,BR,UP': 1,
 'SN,FG,FZ,FG': 1,
 'SN,FG,FZ,FG,BR': 33,
 'SN,FG,FZ,FG,BR,BL,SN': 4,
 'SN,FG,FZ,FG,BR,HZ': 4,
 'SN,FG,FZ,FG,BR,UP': 7,
 'SN,FG,FZ,FG,BR,UP,HZ': 1,
 'SN,FG,FZ,FG,HZ': 1,
 'SN,FG,FZ,FG,UP': 1,
 'SN,FZ,FG': 2,
 'SN,FZ,FG,BL,SN': 1,
 'SN,FZ,FG,BR': 36,
 'SN,FZ,FG,BR,BL,SN': 6,
 'SN,FZ,FG,BR,HZ': 4,
 'SN,FZ,FG,BR,UP': 9,
 'SN,FZ,FG,UP': 1,
 'SN,HZ': 22,
 'SN,HZ,BL,SN': 3,
 'SN,PL': 2,
 'SN,UP': 16,
 'SN,UP,BL,SN': 3,
 'SN,UP,HZ': 5,
 'TS': 189,
 'TS,BR': 31,
 'TS,BR,FU': 1,
 'TS,BR,HZ': 1,
 'TS,BR,VC,TS': 5,
 'TS,DZ,BR': 2,
 'TS,FG,BR': 3,
 'TS,FG,BR,HZ': 2,
 'TS,FG,FG,BR': 2,
 'TS,FU': 1,
 'TS,FZ,DZ,SN,BL,SN': 1,
 'TS,FZ,DZ,SN,BR,BL,SN': 1,
 'TS,GR,RA,BR,VC,TS': 1,
 'TS,HZ': 8,
 'TS,HZ,BL,DU': 1,
 'TS,HZ,VC,TS': 4,
 'TS,MI,FG,BR': 2,
 'TS,RA': 198,
 'TS,RA,BC,FG,BR': 1,
 'TS,RA,BR': 117,
 'TS,RA,BR,FU': 1,
 'TS,RA,BR,HZ': 14,
 'TS,RA,BR,HZ,VC,TS': 5,
 'TS,RA,BR,SQ': 2,
 'TS,RA,BR,VC,TS': 19,
 'TS,RA,DZ': 1,
 'TS,RA,DZ,BR': 3,
 'TS,RA,DZ,BR,HZ': 2,
 'TS,RA,DZ,BR,VC,TS': 2,
 'TS,RA,DZ,HZ': 1,
 'TS,RA,DZ,HZ,VC,TS': 1,
 'TS,RA,DZ,VC,TS': 1,
 'TS,RA,FG': 3,
 'TS,RA,FG,BR': 4,
 'TS,RA,FG,BR,HZ': 1,
 'TS,RA,FG,BR,HZ,VC,TS': 1,
 'TS,RA,FG,FG,BR': 1,
 'TS,RA,FG,FG,BR,VC,TS': 2,
 'TS,RA,FZ,RA,BR,VC,TS': 1,
 'TS,RA,GS': 2,
 'TS,RA,GS,BR': 1,
 'TS,RA,HZ': 9,
 'TS,RA,HZ,FU': 1,
 'TS,RA,HZ,VC,TS': 2,
 'TS,RA,RA': 95,
 'TS,RA,RA,BC,FG,BR': 2,
 'TS,RA,RA,BC,FG,BR,HZ': 1,
 'TS,RA,RA,BR': 251,
 'TS,RA,RA,BR,HZ': 23,
 'TS,RA,RA,BR,HZ,VC,TS': 8,
 'TS,RA,RA,BR,SQ': 4,
 'TS,RA,RA,BR,VC,TS': 67,
 'TS,RA,RA,DZ': 1,
 'TS,RA,RA,DZ,BR': 19,
 'TS,RA,RA,DZ,BR,HZ': 2,
 'TS,RA,RA,DZ,BR,VC,TS': 3,
 'TS,RA,RA,DZ,FG,BR': 2,
 'TS,RA,RA,DZ,HZ': 2,
 'TS,RA,RA,DZ,SN,BR,HZ,VC,TS': 1,
 'TS,RA,RA,DZ,SN,FG,HZ': 1,
 'TS,RA,RA,DZ,VC,TS': 3,
 'TS,RA,RA,FG': 3,
 'TS,RA,RA,FG,BR': 15,
 'TS,RA,RA,FG,BR,HZ': 1,
 'TS,RA,RA,FG,BR,VC,TS': 5,
 'TS,RA,RA,FG,FG,BR': 6,
 'TS,RA,RA,FG,FG,BR,UP': 1,
 'TS,RA,RA,FZ,RA,BR': 1,
 'TS,RA,RA,FZ,RA,BR,UP,VC,TS': 1,
 'TS,RA,RA,HZ,VC,TS': 3,
 'TS,RA,RA,SN,BR': 1,
 'TS,RA,RA,SN,FG,BR,HZ': 1,
 'TS,RA,RA,SQ': 1,
 'TS,RA,RA,VC,TS': 27,
 'TS,RA,TS,SN,BR,HZ,VC,TS': 1,
 'TS,RA,VC,TS': 22,
 'TS,SN,BR': 1,
 'TS,SN,FG,BR,VC,TS': 1,
 'TS,SN,GS': 1,
 'TS,SN,RA,DZ,SN,BR,VC,TS': 1,
 'TS,SN,RA,SN,FG,FZ,FG,BR': 1,
 'TS,SN,SN,BR,UP': 1,
 'TS,SN,UP,VC,TS': 1,
 'TS,SQ': 1,
 'TS,TS,RA': 66,
 'TS,TS,RA,BR': 40,
 'TS,TS,RA,BR,HZ': 8,
 'TS,TS,RA,BR,HZ,VC,TS': 1,
 'TS,TS,RA,BR,SQ': 1,
 'TS,TS,RA,BR,VC,TS': 2,
 'TS,TS,RA,DZ,BR': 1,
 'TS,TS,RA,FG,BR': 1,
 'TS,TS,RA,FG,BR,HZ': 1,
 'TS,TS,RA,FZ,RA': 1,
 'TS,TS,RA,GR,RA,BR': 1,
 'TS,TS,RA,GR,RA,BR,HZ,SQ': 1,
 'TS,TS,RA,HZ': 1,
 'TS,TS,RA,RA': 57,
 'TS,TS,RA,RA,BC,FG,BR': 1,
 'TS,TS,RA,RA,BR': 73,
 'TS,TS,RA,RA,BR,HZ': 3,
 'TS,TS,RA,RA,BR,HZ,FU': 1,
 'TS,TS,RA,RA,BR,VC,TS': 8,
 'TS,TS,RA,RA,DZ': 2,
 'TS,TS,RA,RA,DZ,BR': 4,
 'TS,TS,RA,RA,DZ,FG,FG,BR,VC,TS': 1,
 'TS,TS,RA,RA,DZ,FZ,RA,PL,BR': 2,
 'TS,TS,RA,RA,FG': 1,
 'TS,TS,RA,RA,FG,BR': 2,
 'TS,TS,RA,RA,FG,BR,HZ,VC,TS': 1,
 'TS,TS,RA,RA,FG,BR,VC,TS': 2,
 'TS,TS,RA,RA,FG,FG,BR': 1,
 'TS,TS,RA,RA,FG,FG,VC,TS': 1,
 'TS,TS,RA,RA,FZ,RA,BR': 1,
 'TS,TS,RA,RA,HZ': 2,
 'TS,TS,RA,RA,SN,FG,BR': 1,
 'TS,TS,RA,RA,SN,PL,BR': 1,
 'TS,TS,RA,RA,VC,TS': 3,
 'TS,TS,RA,VC,TS': 5,
 'TS,TS,SN,RA,DZ,SN,BR': 1,
 'TS,TS,SN,RA,FG,FG,BR,VC,TS': 1,
 'TS,VC,TS': 11,
 'UP': 24,
 'UP,BL,SN': 1,
 'UP,HZ': 4,
 'VC,FG': 1,
 'VC,TS': 57}

In [82]:
counts_codesum_set[:5]

TypeError: unhashable type: 'slice'

In [67]:
for idx,val in counts_codesum_set.items():
    if val > 100:
        print(idx,val)

SN,BR 244
RA,BR,VC,TS 111
FG,FG,BR 114
RA,FG,BR 166
TS 189
TS,RA,BR 117
RA,DZ,BR 126
TS,RA,RA,BR 251
HZ 365
RA,BR,HZ 147
RA 1281
TS,RA 198
MO 11051
RA,BR 1476
BR,HZ 400
BR 1431
SN 198
FG,BR 240

In [54]:
counts_codesum = dict(Counter(counts))

In [55]:
day = 20517
counts_codesum

{'BC': 111,
 'BL': 60,
 'BR': 6359,
 'DU': 28,
 'DZ': 508,
 'FG': 1820,
 'FU': 33,
 'FZ': 368,
 'GR': 3,
 'GS': 5,
 'HZ': 1482,
 'MI': 52,
 'MO': 11051,
 'PL': 20,
 'PR': 1,
 'RA': 6106,
 'SG': 1,
 'SN': 1055,
 'SQ': 14,
 'TS': 2413,
 'UP': 230,
 'VC': 571}

In [78]:
for idx, val in counts_codesum.items():
    value = round((val / 20517) * 100,2)
    
    print(idx,str(value)+"%")

print("----------------------------------------")
tmp = 0
for idx,val in counts_codesum_set.items():
    
    if val > 100:
        print(idx," "*(12 - len(idx)),val)
        tmp += val

round((tmp / 20517) * 100,2)

SQ 0.07%
FZ 1.79%
BR 30.99%
GS 0.02%
MI 0.25%
TS 11.76%
RA 29.76%
FU 0.16%
DZ 2.48%
SN 5.14%
PL 0.1%
BC 0.54%
GR 0.01%
HZ 7.22%
SG 0.0%
PR 0.0%
DU 0.14%
UP 1.12%
MO 53.86%
VC 2.78%
FG 8.87%
BL 0.29%
----------------------------------------
SN,BR         244
RA,BR,VC,TS   111
FG,FG,BR      114
RA,FG,BR      166
TS            189
TS,RA,BR      117
RA,DZ,BR      126
TS,RA,RA,BR   251
HZ            365
RA,BR,HZ      147
RA            1281
TS,RA         198
MO            11051
RA,BR         1476
BR,HZ         400
BR            1431
SN            198
FG,BR         240

88.24

In [76]:
for idx,val in counts_codesum_set.items():
    if val > 200:
        print(idx," "*(12 - len(idx)),val)

SN,BR         244
TS,RA,RA,BR   251
HZ            365
RA            1281
MO            11051
RA,BR         1476
BR,HZ         400
BR            1431
FG,BR         240

In [77]:
tmp = 0
for idx,val in counts_codesum_set.items():
    
    if val > 200:
        tmp += val
round((tmp / 20517) * 100,2)

81.59