In [1]:
sales = pd.read_csv('../data/train.csv', parse_dates=['date'])
print(sales.shape)
sales.head()

(4617600, 4)

        date  store_nbr  item_nbr  units
0 2012-01-01          1         1      0
1 2012-01-01          1         2      0
2 2012-01-01          1         3      0
3 2012-01-01          1         4      0
4 2012-01-01          1         5      0

In [2]:
# Keys : Key(station_nbr, store_nbr)
keys = pd.read_csv('../data/key.csv')
print(keys.shape)
keys.head()

(45, 2)

   store_nbr  station_nbr
0          1            1
1          2           14
2          3            7
3          4            9
4          5           12

In [3]:
weather = pd.read_csv('../data/weather.csv',parse_dates=['date'])
print(weather.shape)
weather.head()

(20517, 20)

,station_nbr,date,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,sunrise,sunset,codesum,snowfall,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed
0,1,2012-01-01,52,31,42,M,36,40,23,0,-,-,RA FZFG BR,M,0.05,29.78,29.92,3.6,20,4.6
1,2,2012-01-01,48,33,41,16,37,39,24,0,0716,1626,RA,0.0,0.07,28.82,29.91,9.1,23,11.3
2,3,2012-01-01,55,34,45,9,24,36,20,0,0735,1720,,0.0,0.00,29.77,30.47,9.9,31,10.0
3,4,2012-01-01,63,47,55,4,28,43,10,0,0728,1742,,0.0,0.00,29.79,30.48,8.0,35,8.2
4,6,2012-01-01,63,34,49,0,31,43,16,0,0727,1742,,0.0,0.00,29.95,30.47,14.0,36,13.8

In [4]:
data = pd.merge(weather,keys)
print(data.shape)
data.head()

(46392, 21)

,station_nbr,date,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,...,sunset,codesum,snowfall,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed,store_nbr
0,1,2012-01-01,52,31,42,M,36,40,23,0,...,-,RA FZFG BR,M,0.05,29.78,29.92,3.6,20,4.6,1
1,1,2012-01-02,50,31,41,M,26,35,24,0,...,-,,M,0.01,29.44,29.62,9.8,24,10.3,1
2,1,2012-01-03,32,11,22,M,4,18,43,0,...,-,,M,0.00,29.67,29.87,10.8,31,11.6,1
3,1,2012-01-04,28,9,19,M,-1,14,46,0,...,-,,M,0.00,29.86,30.03,6.3,27,8.3,1
4,1,2012-01-05,38,25,32,M,13,25,33,0,...,-,,M,0.00,29.67,29.84,6.9,25,7.8,1

In [6]:
data = pd.merge(data, sales)
print(data.shape)
data.tail()

(4617600, 23)

,station_nbr,date,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,...,snowfall,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed,store_nbr,item_nbr,units
4617595,5,2014-10-31,M,M,M,M,37,M,M,M,...,M,M,M,30.01,10.8,05,M,35,107,0
4617596,5,2014-10-31,M,M,M,M,37,M,M,M,...,M,M,M,30.01,10.8,05,M,35,108,0
4617597,5,2014-10-31,M,M,M,M,37,M,M,M,...,M,M,M,30.01,10.8,05,M,35,109,0
4617598,5,2014-10-31,M,M,M,M,37,M,M,M,...,M,M,M,30.01,10.8,05,M,35,110,0
4617599,5,2014-10-31,M,M,M,M,37,M,M,M,...,M,M,M,30.01,10.8,05,M,35,111,0

In [ ]:
def ch_codesum(codesum):
    if codesum == ' ':
        return "Plain"
    else:
        return codesum

In [ ]:
data['codesum'] = data['codesum'].apply(ch_codesum)

In [ ]:
def compare_codesum(codesum):
    if codesum =="Plain":
        return codesum
    else:
        return "Abnormal"

In [ ]:
data["Cdsm_Ch"] = data['codesum'].apply(compare_codesum)

In [ ]:
data.tail()

In [ ]:
holiday = pd.read_csv('../data/04. holiday_data')

In [ ]:
holiday = holiday.drop('Unnamed: 0', axis=1)

In [ ]:
holiday.tail()

In [ ]:
def convert_day(day):
    if day == 'Monday':
        return 0
    elif day == 'Tuesday':
        return 1
    elif day == 'Wednesday':
        return 2
    elif day == 'Thursday':
        return 3
    elif day == 'Friday':
        return 4
    elif day == 'Saturday':
        return 5
    elif day == 'Sunday':
        return 6

In [ ]:
holiday['dayofweek'] = holiday['day'].apply(convert_day)

In [ ]:
holiday = holiday.drop('day', axis=1)

In [ ]:
holiday.tail()

In [ ]:
def apply_day(date):
    return date[-2:]

In [ ]:
holiday['day'] = holiday['date'].apply(apply_day)

In [ ]:
holiday.loc[0]['date'][:-2]

In [ ]:
def apply_month(date):
    return date[:-2]

In [ ]:
holiday['month'] = holiday['date'].apply(apply_month)

In [ ]:
def convert_month(month):
    if month == 'January':
        return '01'
    elif month == 'February':
        return '02'
    elif month == 'March':
        return '03'
    elif month == 'April':
        return '04'
    elif month == 'May':
        return '05'
    elif month == 'June':
        return '06'
    elif month == 'July':
        return '07'
    elif month == 'August':
        return '08'
    elif month == 'September':
        return '09'
    elif month == 'October':
        return '10'
    elif month == 'November':
        return '11'
    elif month == 'December':
        return '12'

In [ ]:
holiday['month'] = holiday['month'].apply(convert_month)

In [ ]:
holiday = holiday.drop('date', axis = 1)

In [ ]:
holiday.tail()

In [ ]:
holiday['date'] = holiday['year'].astype(str) + '-' + holiday['month'].astype(str) + '-' + holiday['day'].astype(str)

In [ ]:
holiday = pd.DataFrame(holiday, columns=['date', 'dayofweek', 'holiday'])

# Merge data with holiday

In [ ]:
# holiday
holiday

In [ ]:
# data
data.head()

In [ ]:
data_2 = pd.merge(data, holiday)

In [ ]:
data_2

### For 문 돌려서...?

In [ ]:
def apply_holiday(date):
    if date == holiday['date'].astype(str):
        return True
    else:
        False

In [ ]:
data['holiday'] = data['date'].apply(apply_holiday)

In [ ]:
data = pd.read_csv('../data/03. item_nbr_info.csv', index_col = 0)
data.head()

In [ ]:
def make_year(date):
    return int(date.split('-')[0])

def make_month(date):
    return int(date.split('-')[1])

def make_day(date):
    return int(date.split('-')[2])

def make_monthday(date):
    return (date.split('-')[1:3])

In [ ]:
data['year'] = data['date'].apply(make_year)
data['monthday'] = data['date'].apply(make_monthday)

In [ ]:
data.head()

# 총 일수(days)를 구하는 함수
- 윤년이니까

In [ ]:
def sum_of_days(monthday):
    
    month = int(monthday[0])
    day = int(monthday[1])
    
    common_year = [
        31,
        28 + 1,
        31,
        30,
        31,
        30,
        31,
        31,
        30,
        31,
        30,
        31
    ]
    tmp_days = 0
    for i in range(month - 1):
        tmp_days += common_year[i]
    tmp_days += day
    return tmp_days

In [ ]:
data_2012 = data[data['year'].isin([2012])]

In [ ]:
data_2012.tail()

In [ ]:
data_2012['days'] = data_2012['monthday'].apply(sum_of_days)

In [ ]:
data_2012.tail()

# 일수를 구했다면, 요일을 구하는 함수

In [ ]:
# 2012 년도는 1월 1일이 일요일이다.
date_list = ['Sun', 'Mon', 'Tue', 'Wed', 'Thi', 'Fri', 'Sat']

def check_week_of_day(days):
    
    return date_list[days % 7 - 1]

In [ ]:
data_2012['dayofweek'] = data_2012['days'].apply(check_week_of_day)

In [ ]:
data_2012.tail()

# 위 방법과 비슷하게 2013년 2014년도 데이터프레임을 만들자

In [ ]:
def sum_of_days(monthday):
    
    month = int(monthday[0])
    day = int(monthday[1])
    
    common_year = [
        31,
        28,
        31,
        30,
        31,
        30,
        31,
        31,
        30,
        31,
        30,
        31
    ]
    tmp_days = 0
    for i in range(month - 1):
        tmp_days += common_year[i]
    tmp_days += day
    return tmp_days

In [ ]:
# 2013 년도는 1월 1일이 화요일이다.
date_list = ['Tue', 'Wed', 'Thi', 'Fri', 'Sat', 'Sun', 'Mon']

def check_week_of_day(days):
    
    return date_list[days % 7 - 1]

In [ ]:
data_2013 = data[data['year'].isin([2013])]
data_2013['days'] = data_2013['monthday'].apply(sum_of_days)
data_2013['dayofweek'] = data_2013['days'].apply(check_week_of_day)

In [ ]:
data_2013.tail()

In [ ]:
# 2014 년도는 1월 1일이 수요일이다.
date_list = ['Wed', 'Thi', 'Fri', 'Sat', 'Sun', 'Mon','Tue']

def check_week_of_day(days):
    
    return date_list[days % 7 - 1]

In [ ]:
data_2014 = data[data['year'].isin([2014])]
data_2014['days'] = data_2014['monthday'].apply(sum_of_days)
data_2014['dayofweek'] = data_2014['days'].apply(check_week_of_day)

In [ ]:
data_2014.tail()

# 최종적으로 합치기

In [ ]:
final_data = pd.concat([data_2012,data_2013,data_2014], axis = 0)

In [ ]:
final_data.tail()

# holiday 데이터 프레임 가져왔습니다.

In [ ]:
holiday

In [ ]:
holiday['is_holiday'] = 'holiday'

In [ ]:
holiday = holiday.drop(['holiday','dayofweek'], axis = 1)

In [ ]:
holiday_list = list(holiday['date'])

In [ ]:
def is_holiday(date):
    if date in holiday_list:
        return 'holiday_work'
    else:
        return 'workday'

In [ ]:
final_data['is_holiday'] = final_data['date'].apply(is_holiday)

# 평일인데 휴일인 것은 잘 골라낸 것 같다. 
# 이제 남은 것은 Sat, Sun을 일반 holiday로 만들어야 하는 것.

In [ ]:
final_data[final_data['is_holiday'].isin(['holiday_work'])].reset_index(drop = True).tail()

In [ ]:
tmp_df = final_data[final_data['dayofweek'].isin(['Sat','Sun'])]

In [ ]:
tmp_df['is_holiday'] = 'holiday'

In [ ]:
tmp_df.tail()

In [ ]:
tmp_df2 = final_data[final_data['dayofweek'].isin(['Mon','Tue','Wed','Thi','Fri'])]

In [ ]:
tmp_df2.tail()

In [ ]:
final_data = pd.concat([tmp_df, tmp_df2], axis = 0)

# 최종적으로 is_holiday 컬럼에 3가지 종류의 타입이 나왔습니다.
- 평일인데 공휴일인 경우
- 주말인 경우
- 평일인 경우

In [ ]:
final_data['is_holiday'].unique()

# 마지막 필요없는 컬럼은 제거했습니다.

In [ ]:
final_data = final_data.drop(['monthday','year','days'], axis = 1)
final_data.tail()

# 저장

In [ ]:
final_data.to_csv('../data/05. data_sample_V3', sep = ',')

In [ ]:
test = pd.read_csv('../data/05. data_sample_V3', index_col = 0)
test.tail()